<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/gmp.css"/>
</head>
<body>
<div class="gmp-header-wrap">
    <div class="gmp-layout">
        <div class="gmp-header">
            <a href="" class="logo">百卓规范库</a>
            <div class="gmp-menu">
                <ul id="menuList" class="gmp-menu-lst">
                    <li><a href="">开始</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>