// app style
// ========================================
// import
@import "import/_global";
@import "import/_css3";

// variable reset
$borderColor: #ced9e5;
$bgColor: #ecf0f5;
// base
// ========================================
body{
	font: 12px/1.5 arial, sans-serif;
	color: $textColor;
	background-color: #fafafa
}
input, select, textarea, button{
	outline: none;
	font: inherit;
}
// common
.required{
	color: $red;
	margin-right: 5px;
}
// new page 
.page{
	overflow: hidden;
	position: fixed;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 60px;
}
.page-half,
.editor,
.preview{
	height: 100%;
	@include box-sizing(border-box);
}
.page-half{
	width: 48%;
	float: left;
	border: 1px solid $borderColor;
	&:last-child{
		float: right;
	}
}
.preview{
	padding: 20px;
	background-color: #fff;
}
.ta-editor-value{
	display: none;
}
.page-submit{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 20px;
	background-color: #e8edf2;
	border-top: 1px solid #ced9e5;
	label{
		display: inline-block;
		vertical-align: middle;
		margin-right: 15px;
		input{
			@include box-sizing(border-box);
			@include border-radius(3px);
			width: 190px;
			height: 40px;
			padding: 0 10px;
			border: 1px solid #ccc;
			&:focus{
				border-color: #267dce;
			}
		}
	}
}