// app style
// ========================================
// import
@import "lib/all";

@import "base/reset";
@import "base/common";
@import "ui/bubble";
@import "ui/button";
@import "ui/font";
@import "ui/icon";
@import "ui/pop";
@import "ui/tip";
@import "ui/form";
@import "vendor/github";

// variable reset
$borderColor: #ced9e5;
$bgColor: #ecf0f5;

%codeInline{
    font-family: $ffCode;
    padding: 2px 4px;
    margin: 0 5px;
    background-color: #eee;
    color: #0a8;
    @include border-radius(3px)
}

// base
// =======================================
body{
    font-family: $ffYahei;
}
input{
    &[type='text']{
        border:1px solid #ccc;
        &:focus{
            border-color: #267dce;
        }
    }
}
.error{
    &[type='text']{
        border-color: $fcRed;
    }
}

// layout
.gmp-layout,
.gmp-layout-doc{
	width: 1190px;
	overflow: hidden;
    margin: 0 auto;
}
.gmp-layout-doc{
    margin: 0 0 0 20px;
}
.gmp-backtop{
    position: fixed;
    bottom: 100px;
    left: 1220px;
    background: #eee;
    text-align: center;
    line-height: 40px;
    @include border-radius(3px);
    &:hover{
        background-color: #ddd;
    }
    a{
        display: block;
        width: 40px;
        height: 40px;
    }
}
$headerHeight: 50px;
.gmp-header-wrap{
	background-color: #2c3e50;
	margin-bottom: 10px;
}
.gmp-header{
	padding-left: 10px;
    font-family: arial, 'Microsoft Yahei', sans-serif;
	overflow: hidden;
	.logo{
		font-size: 24px;
		float: left;
		margin-right: 30px;
		line-height: $headerHeight;
		&:link,&:visited,&:hover{
			color: #fff;
			text-decoration: none;
		}
	}
}
.gmp-nav{
	float: left;
    font-size: 14px;
    margin-left: 20px;
	li{
		float: left;
	}
	a{
		display: block;
		padding: 0 20px;
		line-height: $headerHeight;
		&:link,&:visited{
			color: lighten(#2c3e50, 40%);
		}
		&:hover{
			color: lighten(#2c3e50, 60%);
			text-decoration: none;
		}
	}
	.active{
		a{
			background-color: darken(#2c3e50, 5%);
            &:link,&:visited,&:hover{
                color: lighten(#2c3e50, 60%);
            }
		}
	}
}
.gmp-module-switch{
    float: right;
    margin-top: 9px;
}
// footer
.gmp-footer{
	text-align: center;
	color: darken(#fff, 20%);
	margin-top: 50px;
}
// table
.gmp-tb{
	width: 100%;
	margin-bottom: 20px;
	th,td{
		border: 1px solid lighten($borderColor, 5%);
		padding: 8px 10px;
	}
	th{
		background-color: $bgColor;
	}
	tr:not([class='empty']):hover{
		td{
			background-color: #f9f9f9;
		}
	}
    .empty{
        td{
            text-align: center;
            font-size: 20px;
            color: $fcComment;
            padding: 50px 0;
            font-family: $ffYahei;
        }
    }
	.td-act{
		text-align: center;
		a{
			margin: 0 10px;
		}
	}
    code{
        @extend %codeInline;
    }
}
// common
// =========================================
.required{
	color: $fcRed;
	margin-right: 5px;
}
.gmp-error{
    color: $fcRed;
}
.gmp-success{
    color: $fcGreen;
}
.gmp-tip{
    .icon{
        margin: -2px 3px 0 0;
    }
}
// create page
// =====================================
.gmp-page{
	overflow: hidden;
	position: fixed;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 60px;
}
.gmp-page-half,
.gmp-editor,
.gmp-preview{
	height: 100%;
	@include box-sizing(border-box);
}
.gmp-page-half{
	width: 49%;
	float: left;
	border: 1px solid $borderColor;
	&:last-child{
		float: right;
	}
}
.gmp-form{
    position: relative;
}
.gmp-page-toolbar{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    display: none;
}
.gmp-preview{
	padding: 20px;
	background-color: #fff;
    overflow-y: scroll;
}
.ta-editor-value{
	display: none;
}
.gmp-page-submit{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 20px;
	background-color: #e8edf2;
	border-top: 1px solid #ced9e5;
	label{
		display: inline-block;
		vertical-align: middle;
		margin-right: 15px;
		input{
			@include box-sizing(border-box);
			@include border-radius(3px);
			width: 190px;
			height: 40px;
			padding: 0 10px;
		}
	}
	.loading{
		display: inline-block;
		margin: 10px;
		vertical-align: middle;
		font-size: 14px;
		font-family: $ffYahei;
		font-style: italic;
		margin-left: 10px;
		display: none;
		&,img{
			height: 16px;
		}
		img{
			width: 16px;
			margin-top: -2px;
		}
	}
    .gmp-tip{
        margin-left: 20px;
        display: none;
    }
}


// list page
// ===================================
.gmp-new-page{
    .btn{
        margin-right: 15px;
    }
}

// doc
// ==========================================
$gmpSideWidth: 230px;
$gmpSideGutter: 40px;
.gmp-entry{
    padding-left: $gmpSideWidth;
}
.gmp-side{
    width: $gmpSideWidth - $gmpSideGutter;
    float: left;
    padding: 10px 0;
    margin-left: -$gmpSideWidth;
}
.gmp-fixed{
    position: fixed;
    top: 0;
}
.gmp-menu-main{
    > li{
        margin-bottom: 5px;
        font-size: 15px;
        a{
            display: block;
            line-height: 28px;
            padding: 0 10px;
            &:link,&:visited{
                color: #999;
            }
            &:hover{
                text-decoration: none;
                color: $fcLinkHover;
            }
        }
    }
    > .active{
        > a{
            background-color: #eee;
            &:link,&:visited,&:hover{
                color: #08274e;
            }
        }
    }

}
.gmp-menu-sub{
    margin-top: 3px;
    display: none;
    li{
        a{
            padding-left: 20px;
            font-size: 13px;
            line-height: 26px;
        }
    }
    .active{
        a{
            &:link,&:visited,&:hover{
                color: #08274e;
            }
        }
    }
    .active &{
        display: block;
    }
}
.gmp-h{
    font-family: 'Microsoft Yahei';
}
h2.gmp-h{
    margin: 50px 0 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid $bdGray;
    &:first-child{
        margin-top: 20px;
    }
}
h3.gmp-h{
    margin: 15px 0 10px;
}
h4.gmp-h{
    margin: 10px 0 6px;
    font-size: 18px;
}
h5.gmp-h{
    margin-bottom: 5px;
}
pre{
    margin-bottom: 10px;
}
p{
    font-size: 14px;
    margin-bottom: 8px;
    line-height: 1.6;
    code{
        @extend %codeInline;
    }
    img{
        margin-bottom: 10px;
    }
}
.gmp-para-lead{
    font-size: 18px;
}
.hljs{
    border: 1px solid #d9e2ec;
}

// Examples
// ====================================
.gmp-example{
    border: 1px solid #d9e2ec;
    padding: 20px;
    margin-bottom: 10px;
    font-family: $ffDefault;
    font-size: 12px;
    overflow: hidden;
    *zoom:1;
    p{
        font-size: 12px;
        margin: 0;
        line-height: 1.5;
    }
    .text{
        margin-bottom: 10px;
    }
    .gmp-bubble{
        float: left;
        position: relative;
        width: 150px;
        height:70px;
    }
}
.gmp-example-item{
    margin-bottom: 10px;
}
.gmp-example + pre{
    margin-top: -11px;
}
// Example: color
.gmp-color{
    overflow: hidden;
}
.gmp-color-item{
    float: left;
    width: 60px;
    margin-right: 30px;
}
.gmp-color-block{
    height: 60px;
    width: 60px;
    float: left;
}
.gmp-color-name{
    font-family: $ffCode;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    line-height: 24px;
}
@mixin gmpColor($type, $color, $value){
    .gmp-color-#{$type}-#{$color}{
        color: #{$value};
        .gmp-color-block{
            background-color: #{$value};
        }
    }
}
// CN color
// main color
@include gmpColor('main', 'red', #d9363c);
@include gmpColor('main', 'yellow', #ffc20e);
@include gmpColor('main', 'dark', #231f20);
// sub color
@include gmpColor('sub', 'blue', #3692d9);
@include gmpColor('sub', 'blue-light', #50a5e6);
@include gmpColor('sub', 'blue-lighter', #73c2ff);

@include gmpColor('sub', 'green', #60bf4c);
@include gmpColor('sub', 'green-light', #7ed96c);
@include gmpColor('sub', 'green-lighter', #a1f291);

@include gmpColor('sub', 'yellow', #d9a22b);
@include gmpColor('sub', 'yellow-light', #e6b345);
@include gmpColor('sub', 'yellow-lighter', #ffcf66);
// font color
@include gmpColor('font', 'green', #199900);
@include gmpColor('font', 'yellow', #cc9829);
@include gmpColor('font', 'head', #333);
@include gmpColor('font', 'body', #4d4d4d);
@include gmpColor('font', 'gray', #666);
@include gmpColor('font', 'gray-light', #999);

// bg color
@include gmpColor('bg', 'red', #fae6e6);
@include gmpColor('bg', 'red-light', #ffe5e6);
@include gmpColor('bg', 'blue', #e6f1fa);
@include gmpColor('bg', 'blue-light', #e5f4ff);
@include gmpColor('bg', 'green', #e5fae1);
@include gmpColor('bg', 'green-light', #eaffe5);
@include gmpColor('bg', 'yellow', #fcf3de);
@include gmpColor('bg', 'yellow-light', #fff7e5);
@include gmpColor('bg', 'gray', #f2f2f2);
@include gmpColor('bg', 'gray-light', #fafafa);

.gmp-color-bg{
    .gmp-color-name{
        color: #999;
    }
}

.gmp-color-bd-gray{
    .gmp-color-block{
        border: 1px solid #ccc;
    }
}
.gmp-color-bd-gray-light{
    .gmp-color-block{
        border: 1px solid #d9d9d9;
    }
}
.gmp-color-bd-gray-lighter{
    .gmp-color-block{
        border: 1px solid #e6e6e6;
    }
}

// Example: pop
.gmp-example-pop{
    position: relative;
    height: 130px;
}