// global common style
// author liw
// ========================================
// import
@import "../include/_global";
@import "../include/_css3";

// base style
body{
    font: 12px/1.3 $ffDefault;
    background-color: #fff;
}
a{
    &:link,&:visited{
        color: $fcLink;
    }
    &:hover{
        color: $fcLinkHover;
    }
}
img{
    vertical-align: middle;
}
input, select, textarea, button{
    font: inherit;
    outline: none;
}
textarea{
    resize: none;
}

.yellow{
    color: $fcYellow;
}
.blue{
    color: $fcBlue;
}
.green{
    color: $fcGreen;
}