// global common style
// author liw
// ========================================
// import
@import "../include/_global";
@import "../include/_css3";

// base style
// =============================
body{
    color: $fcText;
    background-color: #fff;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
}
body, input, select, textarea, button{
    font: 12px/1.5 $ffDefault;
    outline: none;
}
textarea{
    resize: none;
}
a{
    text-decoration: none;
    &:link,&:visited{
        color: $fcLink;
    }
    &:hover{
        color: $fcLinkHover;
        text-decoration: underline;
    }
}
img{
    vertical-align: middle;
}

// text
// ============================
.text-lst{
    li{
        padding: 3px 0 3px 9px;
        background: url(/img/global/list-style.png) 0 10px no-repeat;
    }
}

// text emphasis
.yellow{
    color: $fcYellow;
}
.blue{
    color: $fcBlue;
}
.green{
    color: $fcGreen;
}