<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bundle.css"/>
</head>
<body>
<div class="gmp-header-wrap">
    <div class="gmp-layout gmp-layout-doc">
        <div class="gmp-header">
            <a href="" class="logo">百卓规范库</a>
            <div class="gmp-nav">
                <ul id="navList" class="gmp-nav-lst">
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="gmp-layout gmp-layout-doc">
    <div class="gmp-content gmp-entry">
        <div class="gmp-side" id="gmpSide">
            <ul class="gmp-menu-main" id="gmpMenuMain">
                <% menus.forEach(function(item, key){ %>
                <li class="<%= key==0?'active':'' %> JS-menu-main-item">
                    <a href="#<%= item.id %>"><%= item.text %></a>
                    <% if(item.subs.length > 0){ %>
                    <ul class="JS-menu-sub gmp-menu-sub">
                        <% item.subs.forEach(function(subItem, key){ %>
                        <li><a href="#<%= subItem.id %>"><%= subItem.text %></a></li>
                        <% }) %>
                    </ul>
                    <% } %>
                </li>
                <% }) %>
            </ul>
        </div>
        <div class="gmp-main">
            <%- content %>
        </div>
    </div>
</div>
<div class="gmp-footer">
    <p>&copy; ABIZ. Developed by liw.</p>
</div>
<script src="/lib/jquery-1.11.1.min.js"></script>
<script src="/js/doc.js"></script>
</body>
</html>