<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title ng-bind="title">页面管理</title>
    <link rel="stylesheet" href="/css/gmp.css">
    <!-- <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'> -->
</head>
<body>
<div class="gmp-header-wrap">
    <div class="gmp-layout">
        <div class="gmp-header">
            <a href="" class="logo">GMP</a>
            <div class="gmp-nav">
                <ul class="gmp-nav-lst">
                    <li class="active"><a href="/manage/list">页面管理</a></li>
                </ul>
            </div>
            <a class="gmp-module-switch btn btn-blue btn-l" href="/" target="_blank">规范库</a>
        </div>
    </div>
</div>

<div class="gmp-layout">
    <div class="gmp-content">
        <table class="gmp-tb">
            <colgroup>
                <col width="40"/>
                <col>
                <col>
                <col width="200">
            </colgroup>
            <thead>
            <tr>
                <th>key</th>
                <th>页面名称</th>
                <th>页面标题</th>
                <th class="td-act">操作</th>
            </tr>
            </thead>
            <tbody>
            <% pages.forEach(function(item, key){ %>
            <tr >
                <td ><%= item.key %></td>
                <td ><a href="/<%= item.pageName %>" target="_blank"><%= item.pageName %></a></td>
                <td ><%= item.pageTitle %></td>
                <td class="td-act">
                    <a target="_blank" href="/manage/page/<%= item.key %>">编辑</a>
                    <a href="#" class="pageDelete" data-key="<%= item.key %>">删除</a>
                </td>
            </tr>
            <% }) %>
            <% if(pages.length == 0){%>
            <tr class="empty" >
                <td colspan="4">暂无页面</td>
            </tr>
            <% } %>
            </tbody>
        </table>
        <div class="gmp-new-page">
            <a href="/manage/page" class="btn btn-big btn-blue" target="_blank">创建页面</a>
            <a href="/manage/build" target="_blank">重新生成页面</a>
        </div>
    </div>
</div>

<div class="gmp-footer">
    <p>&copy;RDC Developed by liw.</p>
</div>
<script src="/lib/jquery-1.11.1.min.js"></script>
<script>
    $(function(){
        $('.pageDelete').on('click', function(){
            var key = $(this).attr('data-key');
            $.ajax({
                type: 'get',
                url: '/manage/delete/' + key,
                success: function(data){
//                    console.log(data);
                    window.location.reload();
                }
            });
            return false;
        })
    })
</script>
</body>
</html>