<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建页面</title>
    <link rel="stylesheet" href="/css/bundle.css">
</head>
<body>
<div class="gmp-page">
    <div class="gmp-page-half gmp-form">
        <div id="editor" class="gmp-editor"></div>
        <div class="gmp-page-toolbar">
            <span id="btnInsertCodeTrigger" class="btn btn-small btn-gray">&lt;插入代码/&gt;</span>
        </div>
    </div>
    <div class="gmp-page-half">
        <div class="gmp-preview" id="pagePreview"></div>
    </div>
</div>
<div class="gmp-page-submit">
    <label>
        <span class="required">*</span>页面名称：<input type="text" name="txtPageName" id="txtPageName">
    </label>
    <label>
        <span class="required">*</span>页面标题：<input type="text" name="txtPageTitle" id="txtPageTitle">
    </label>
    <span class="btn btn-xxl btn-info" id="btnPageSave">保存</span>
    <span class="loading" id="loading">
        <img src="/img/loading.gif" alt="Loading">
        正在保存页面...
    </span>
    <span id="errorExist" class="gmp-tip gmp-error"><i class="icon icon-times"></i>同名文件已经存在！</span>
    <span id="saveSuccess" class="gmp-tip gmp-success"><i class="icon icon-succ"></i>保存成功！</span>
</div>

<script src="/lib/jquery-1.11.1.min.js"></script>
<!-- ace editor -->
<script src="/lib/ace/ace.js"></script>
<script src="/lib/ace/ext-emmet.js"></script>
<script src="/lib/ace/emmet.js"></script>
<script src="/lib/ace/mode-html.js"></script>
<script src="/lib/ace/mode-markdown.js"></script>
<script src="/lib/ace/theme-chrome.js"></script>
<script src="/js/page.js"></script>
</body>
</html>