<div class="post">
	<div class="post-form">
		<form action="POST">
			<textarea name="" id="post" cols="30" rows="10"></textarea>
		</form>
	</div>
	<div class="preview">
		<div class="preview-bd"></div>
	</div>
</div>