html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, footer, header,
menu, nav, output, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../sass/base/reset.scss */
body {
  line-height: 1;
}

/* line 26, ../../sass/base/reset.scss */
ol, ul {
  list-style: none;
}

/* line 30, ../../sass/base/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 35, ../../sass/base/reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 41, ../../sass/base/reset.scss */
q, blockquote {
  quotes: none;
}

/* line 44, ../../sass/base/reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 49, ../../sass/base/reset.scss */
a img {
  border: none;
}

/* line 53, ../../sass/base/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.hd {
  overflow: hidden;
  *zoom: 1;
}

/* line 11, ../../sass/base/common.scss */
body {
  color: #4d4d4d;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

/* line 17, ../../sass/base/common.scss */
body, input, select, textarea, button {
  font: 12px/1.5 arial, sans-serif;
  outline: none;
}

/* line 21, ../../sass/base/common.scss */
textarea {
  resize: none;
}

/* line 24, ../../sass/base/common.scss */
a {
  text-decoration: none;
}
/* line 26, ../../sass/base/common.scss */
a:link, a:visited {
  color: #0066dd;
}
/* line 29, ../../sass/base/common.scss */
a:hover {
  color: #d9363c;
  text-decoration: underline;
}

/* line 34, ../../sass/base/common.scss */
img {
  vertical-align: middle;
}

/* line 39, ../../sass/base/common.scss */
.red {
  color: #d9363c;
}

/* line 42, ../../sass/base/common.scss */
.yellow {
  color: #cc9829;
}

/* line 45, ../../sass/base/common.scss */
.blue {
  color: #0066dd;
}

/* line 48, ../../sass/base/common.scss */
.green {
  color: #199900;
}

/* line 51, ../../sass/base/common.scss */
.gray {
  color: #666666;
}

/* line 54, ../../sass/base/common.scss */
.gray-light {
  color: #999999;
}

/* line 59, ../../sass/base/common.scss */
.bg-green {
  background-color: #e5fae1;
}

/* line 62, ../../sass/base/common.scss */
.bg-red {
  background-color: #fae6e6;
}

/* line 65, ../../sass/base/common.scss */
.bg-yellow {
  background-color: #fcf3de;
}

/* line 68, ../../sass/base/common.scss */
.bg-blue {
  background-color: #e6f1fa;
}

/* line 71, ../../sass/base/common.scss */
.bg-gray {
  background-color: #f2f2f2;
}

/* line 78, ../../sass/base/common.scss */
h2, h3, h4, h5 {
  font-family: arial, "Microsoft Yahei", sans-serif;
  color: #333333;
  *font-weight: normal;
}

/* line 85, ../../sass/base/common.scss */
h2 {
  font-size: 32px;
}

/* line 88, ../../sass/base/common.scss */
h3 {
  font-size: 24px;
}

/* line 91, ../../sass/base/common.scss */
h4 {
  font-size: 16px;
}

/* line 94, ../../sass/base/common.scss */
h5 {
  font-size: 14px;
}

/* line 97, ../../sass/base/common.scss */
h6 {
  font-size: 12px;
  font-weight: bold;
}

/* line 104, ../../sass/base/common.scss */
.hd .h {
  float: left;
}
/* line 107, ../../sass/base/common.scss */
.hd .h-sub {
  font-size: 12px;
  margin-left: 10px;
  color: #999999;
  font-family: arial, sans-serif;
}
/* line 113, ../../sass/base/common.scss */
.hd .h-ope {
  float: right;
}

/* line 118, ../../sass/base/common.scss */
.text {
  margin-bottom: 10px;
}

/* line 122, ../../sass/base/common.scss */
.text-lst li {
  padding: 2px 0 2px 9px;
  background: url(/img/global/list-style.png) 0 9px no-repeat;
}

/* line 128, ../../sass/base/common.scss */
ol.text-lst {
  margin-left: 1.6em;
  *margin-left: 2em;
}
/* line 133, ../../sass/base/common.scss */
ol.text-lst li {
  background: none;
  list-style-type: decimal;
  padding-left: 0;
}

/* line 141, ../../sass/base/common.scss */
strong {
  font-weight: bold;
}

/* line 144, ../../sass/base/common.scss */
.v-sep {
  margin: 0 5px;
  color: #999999;
}

/* line 148, ../../sass/base/common.scss */
.text-space {
  margin: 0 3px;
}

.iconfont {
  display: inline-block;
  font-family: IconFont;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

@font-face {
  font-family: 'IconFont';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 14, ../../sass/ui/font.scss */
.iconfont {
  vertical-align: middle;
}

/* line 18, ../../sass/ui/font.scss */
.iconfont-2x {
  font-size: 24px;
}

/* line 23, ../../sass/ui/font.scss */
.iconfont-rotate:hover {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 28, ../../sass/ui/font.scss */
.iconfont-search:before {
  content: "\f002";
}

/* line 31, ../../sass/ui/font.scss */
.iconfont-th:before {
  content: "\f00a";
}

/* line 34, ../../sass/ui/font.scss */
.iconfont-home:before {
  content: "\f015";
}

/* line 37, ../../sass/ui/font.scss */
.iconfont-list:before {
  content: "\f03a";
}

/* line 40, ../../sass/ui/font.scss */
.iconfont-angle-double-right:before {
  content: "\f101";
}

/* line 43, ../../sass/ui/font.scss */
.iconfont-angle-down:before {
  content: "\f107";
}

/* line 46, ../../sass/ui/font.scss */
.iconfont-angle-right:before {
  content: "\f105";
}

/* line 49, ../../sass/ui/font.scss */
.iconfont-angle-left:before {
  content: "\f104";
}

/* line 52, ../../sass/ui/font.scss */
.iconfont-caret-down:before {
  content: "\f0d7";
}

/* line 55, ../../sass/ui/font.scss */
.iconfont-times-circle:before {
  content: "\f057";
}

/* line 58, ../../sass/ui/font.scss */
.iconfont-cog:before {
  content: "\f013";
}

/* line 61, ../../sass/ui/font.scss */
.iconfont-arrow-circle-up:before {
  content: "\f0aa";
}

/* line 64, ../../sass/ui/font.scss */
.iconfont-arrow-circle-o-up:before {
  content: "\f01b";
}

/* line 67, ../../sass/ui/font.scss */
.iconfont-arrow-left:before {
  content: "\f060";
}

/* line 70, ../../sass/ui/font.scss */
.iconfont-map-marker:before {
  content: "\f041";
}

/* line 73, ../../sass/ui/font.scss */
.iconfont-th-list:before {
  content: "\f00b";
}

/* line 76, ../../sass/ui/font.scss */
.iconfont-bars:before {
  content: "\f0c9";
}

/* line 79, ../../sass/ui/font.scss */
.iconfont-arrow-up:before {
  content: "\f062";
}

/* line 82, ../../sass/ui/font.scss */
.iconfont-th-large:before {
  content: "\f009";
}

/* line 85, ../../sass/ui/font.scss */
.iconfont-jpy:before {
  content: "\f157";
}

/* line 88, ../../sass/ui/font.scss */
.iconfont-heart:before {
  content: "\f004";
}

/* line 91, ../../sass/ui/font.scss */
.iconfont-chevron-down:before {
  content: "\f078";
}

/* line 94, ../../sass/ui/font.scss */
.iconfont-times:before {
  content: "\f00d";
}

/* line 97, ../../sass/ui/font.scss */
.iconfont-check:before {
  content: "\f00c";
}

/* line 102, ../../sass/ui/font.scss */
.iconfont-food:before {
  content: "\e614";
}

/* line 105, ../../sass/ui/font.scss */
.iconfont-apparel:before {
  content: "\e61f";
}

/* line 108, ../../sass/ui/font.scss */
.iconfont-menu-more:before {
  content: "\e600";
}

/* line 111, ../../sass/ui/font.scss */
.iconfont-mode-text:before {
  content: "\e601";
}

/* line 114, ../../sass/ui/font.scss */
.iconfont-mode-big-picture:before {
  content: "\e602";
}

/* line 117, ../../sass/ui/font.scss */
.iconfont-original:before {
  content: "\e604";
}

/* line 120, ../../sass/ui/font.scss */
.iconfont-home-goods:before {
  content: "\e605";
}

/* line 123, ../../sass/ui/font.scss */
.iconfont-goods:before {
  content: "\e606";
}

/* line 126, ../../sass/ui/font.scss */
.iconfont-elec-component:before {
  content: "\e622";
}

/* line 129, ../../sass/ui/font.scss */
.iconfont-transport:before {
  content: "\e603";
}

/* line 132, ../../sass/ui/font.scss */
.iconfont-toys:before {
  content: "\e607";
}

/* line 135, ../../sass/ui/font.scss */
.iconfont-tools:before {
  content: "\e608";
}

/* line 138, ../../sass/ui/font.scss */
.iconfont-textile:before {
  content: "\e609";
}

/* line 141, ../../sass/ui/font.scss */
.iconfont-sporting:before {
  content: "\e60a";
}

/* line 144, ../../sass/ui/font.scss */
.iconfont-daily-use:before {
  content: "\e60c";
}

/* line 147, ../../sass/ui/font.scss */
.iconfont-office:before {
  content: "\e60d";
}

/* line 150, ../../sass/ui/font.scss */
.iconfont-manufacture:before {
  content: "\e60e";
}

/* line 153, ../../sass/ui/font.scss */
.iconfont-lights:before {
  content: "\e60f";
}

/* line 156, ../../sass/ui/font.scss */
.iconfont-instruments:before {
  content: "\e610";
}

/* line 159, ../../sass/ui/font.scss */
.iconfont-industry:before {
  content: "\e611";
}

/* line 162, ../../sass/ui/font.scss */
.iconfont-health:before {
  content: "\e612";
}

/* line 165, ../../sass/ui/font.scss */
.iconfont-furniture:before {
  content: "\e613";
}

/* line 168, ../../sass/ui/font.scss */
.iconfont-energy:before {
  content: "\e615";
}

/* line 171, ../../sass/ui/font.scss */
.iconfont-electrical:before {
  content: "\e616";
}

/* line 174, ../../sass/ui/font.scss */
.iconfont-edit:before {
  content: "\e617";
}

/* line 177, ../../sass/ui/font.scss */
.iconfont-decoration:before {
  content: "\e618";
}

/* line 180, ../../sass/ui/font.scss */
.iconfont-consumer-electric:before {
  content: "\e619";
}

/* line 183, ../../sass/ui/font.scss */
.iconfont-computer:before {
  content: "\e61a";
}

/* line 186, ../../sass/ui/font.scss */
.iconfont-chemicals:before {
  content: "\e61b";
}

/* line 189, ../../sass/ui/font.scss */
.iconfont-bags:before {
  content: "\e61c";
}

/* line 192, ../../sass/ui/font.scss */
.iconfont-auto:before {
  content: "\e61d";
}

/* line 195, ../../sass/ui/font.scss */
.iconfont-arts:before {
  content: "\e61e";
}

/* line 198, ../../sass/ui/font.scss */
.iconfont-mode-text-picture:before {
  content: "\e623";
}

/* line 201, ../../sass/ui/font.scss */
.iconfont-print:before {
  content: "\f02f";
}

/* line 204, ../../sass/ui/font.scss */
.iconfont-safe:before {
  content: "\e621";
}

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  _margin-bottom: 1px;
}

/* line 50, ../../sass/ui/button.scss */
button.btn,
input.btn {
  *overflow: visible;
  *filter: chroma(color=black);
}
/* line 59, ../../sass/ui/button.scss */
button.btn::-moz-focus-inner,
input.btn::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 63, ../../sass/ui/button.scss */
button.btn:focus,
input.btn:focus {
  outline: none;
}

/* line 67, ../../sass/ui/button.scss */
a.btn:hover {
  text-decoration: none;
}

/* line 83, ../../sass/ui/button.scss */
.btn-default {
  color: #4d4d4d;
  background-color: #f2f2f2;
  border: 1px solid #d9d9d9;
  background-image: -moz-linear-gradient(top, #fafafa 0, #ebebeb 100%);
  background-image: -webkit-linear-gradient(top, #fafafa 0, #ebebeb 100%);
  background-image: -o-linear-gradient(top, #fafafa 0, #ebebeb 100%);
  background-image: linear-gradient(to bottom, #fafafa 0%, #ebebeb 100%);
}
/* line 87, ../../sass/ui/button.scss */
.btn-default:link, .btn-default:visited, .btn-default:hover {
  color: #4d4d4d;
}
/* line 90, ../../sass/ui/button.scss */
.btn-default:hover {
  background-color: #eaeaea;
}
/* line 95, ../../sass/ui/button.scss */
.btn-default:hover {
  background-image: -moz-linear-gradient(top, #f2f2f2 0, #e3e3e3 100%);
  background-image: -webkit-linear-gradient(top, #f2f2f2 0, #e3e3e3 100%);
  background-image: -o-linear-gradient(top, #f2f2f2 0, #e3e3e3 100%);
  background-image: linear-gradient(to bottom, #f2f2f2 0%, #e3e3e3 100%);
}
/* line 98, ../../sass/ui/button.scss */
.btn-default:active {
  background-image: -moz-linear-gradient(top, #e3e3e3 0, #f2f2f2 100%);
  background-image: -webkit-linear-gradient(top, #e3e3e3 0, #f2f2f2 100%);
  background-image: -o-linear-gradient(top, #e3e3e3 0, #f2f2f2 100%);
  background-image: linear-gradient(to bottom, #e3e3e3 0%, #f2f2f2 100%);
}

/* line 83, ../../sass/ui/button.scss */
.btn-primary {
  color: white;
  background-color: #e6454a;
  border: 1px solid #d94146;
  background-image: -moz-linear-gradient(top, #f2494e 0, #d94146 100%);
  background-image: -webkit-linear-gradient(top, #f2494e 0, #d94146 100%);
  background-image: -o-linear-gradient(top, #f2494e 0, #d94146 100%);
  background-image: linear-gradient(to bottom, #f2494e 0%, #d94146 100%);
}
/* line 87, ../../sass/ui/button.scss */
.btn-primary:link, .btn-primary:visited, .btn-primary:hover {
  color: white;
}
/* line 90, ../../sass/ui/button.scss */
.btn-primary:hover {
  background-color: #e4383d;
}
/* line 95, ../../sass/ui/button.scss */
.btn-primary:hover {
  background-image: -moz-linear-gradient(top, #f13b40 0, #d6343a 100%);
  background-image: -webkit-linear-gradient(top, #f13b40 0, #d6343a 100%);
  background-image: -o-linear-gradient(top, #f13b40 0, #d6343a 100%);
  background-image: linear-gradient(to bottom, #f13b40 0%, #d6343a 100%);
}
/* line 98, ../../sass/ui/button.scss */
.btn-primary:active {
  background-image: -moz-linear-gradient(top, #d6343a 0, #f13b40 100%);
  background-image: -webkit-linear-gradient(top, #d6343a 0, #f13b40 100%);
  background-image: -o-linear-gradient(top, #d6343a 0, #f13b40 100%);
  background-image: linear-gradient(to bottom, #d6343a 0%, #f13b40 100%);
}

/* line 83, ../../sass/ui/button.scss */
.btn-primary-light {
  color: #e5454a;
  background-color: #ffe0e1;
  border: 1px solid #ffb2b5;
  background-image: -moz-linear-gradient(top, #ffe5e6 0, #ffd9da 100%);
  background-image: -webkit-linear-gradient(top, #ffe5e6 0, #ffd9da 100%);
  background-image: -o-linear-gradient(top, #ffe5e6 0, #ffd9da 100%);
  background-image: linear-gradient(to bottom, #ffe5e6 0%, #ffd9da 100%);
}
/* line 87, ../../sass/ui/button.scss */
.btn-primary-light:link, .btn-primary-light:visited, .btn-primary-light:hover {
  color: #e5454a;
}
/* line 90, ../../sass/ui/button.scss */
.btn-primary-light:hover {
  background-color: #ffd1d2;
}
/* line 95, ../../sass/ui/button.scss */
.btn-primary-light:hover {
  background-image: -moz-linear-gradient(top, #ffd6d7 0, #ffcacb 100%);
  background-image: -webkit-linear-gradient(top, #ffd6d7 0, #ffcacb 100%);
  background-image: -o-linear-gradient(top, #ffd6d7 0, #ffcacb 100%);
  background-image: linear-gradient(to bottom, #ffd6d7 0%, #ffcacb 100%);
}
/* line 98, ../../sass/ui/button.scss */
.btn-primary-light:active {
  background-image: -moz-linear-gradient(top, #ffcacb 0, #ffd6d7 100%);
  background-image: -webkit-linear-gradient(top, #ffcacb 0, #ffd6d7 100%);
  background-image: -o-linear-gradient(top, #ffcacb 0, #ffd6d7 100%);
  background-image: linear-gradient(to bottom, #ffcacb 0%, #ffd6d7 100%);
}

/* line 83, ../../sass/ui/button.scss */
.btn-sub {
  color: #785206;
  background-color: #f9bc13;
  border: 1px solid #f2b10c;
  background-image: -moz-linear-gradient(top, #ffc619 0, #f2b10c 100%);
  background-image: -webkit-linear-gradient(top, #ffc619 0, #f2b10c 100%);
  background-image: -o-linear-gradient(top, #ffc619 0, #f2b10c 100%);
  background-image: linear-gradient(to bottom, #ffc619 0%, #f2b10c 100%);
}
/* line 87, ../../sass/ui/button.scss */
.btn-sub:link, .btn-sub:visited, .btn-sub:hover {
  color: #785206;
}
/* line 90, ../../sass/ui/button.scss */
.btn-sub:hover {
  background-color: #f6b706;
}
/* line 95, ../../sass/ui/button.scss */
.btn-sub:hover {
  background-image: -moz-linear-gradient(top, #ffc20a 0, #e3a60b 100%);
  background-image: -webkit-linear-gradient(top, #ffc20a 0, #e3a60b 100%);
  background-image: -o-linear-gradient(top, #ffc20a 0, #e3a60b 100%);
  background-image: linear-gradient(to bottom, #ffc20a 0%, #e3a60b 100%);
}
/* line 98, ../../sass/ui/button.scss */
.btn-sub:active {
  background-image: -moz-linear-gradient(top, #e3a60b 0, #ffc20a 100%);
  background-image: -webkit-linear-gradient(top, #e3a60b 0, #ffc20a 100%);
  background-image: -o-linear-gradient(top, #e3a60b 0, #ffc20a 100%);
  background-image: linear-gradient(to bottom, #e3a60b 0%, #ffc20a 100%);
}

/* line 83, ../../sass/ui/button.scss */
.btn-sub-light {
  color: #997300;
  background-color: #fff6da;
  border: 1px solid #f2d785;
  background-image: -moz-linear-gradient(top, #fff9e5 0, #fff2cc 100%);
  background-image: -webkit-linear-gradient(top, #fff9e5 0, #fff2cc 100%);
  background-image: -o-linear-gradient(top, #fff9e5 0, #fff2cc 100%);
  background-image: linear-gradient(to bottom, #fff9e5 0%, #fff2cc 100%);
}
/* line 87, ../../sass/ui/button.scss */
.btn-sub-light:link, .btn-sub-light:visited, .btn-sub-light:hover {
  color: #997300;
}
/* line 90, ../../sass/ui/button.scss */
.btn-sub-light:hover {
  background-color: #fff2cb;
}
/* line 95, ../../sass/ui/button.scss */
.btn-sub-light:hover {
  background-image: -moz-linear-gradient(top, #fff5d6 0, #ffeebd 100%);
  background-image: -webkit-linear-gradient(top, #fff5d6 0, #ffeebd 100%);
  background-image: -o-linear-gradient(top, #fff5d6 0, #ffeebd 100%);
  background-image: linear-gradient(to bottom, #fff5d6 0%, #ffeebd 100%);
}
/* line 98, ../../sass/ui/button.scss */
.btn-sub-light:active {
  background-image: -moz-linear-gradient(top, #ffeebd 0, #fff5d6 100%);
  background-image: -webkit-linear-gradient(top, #ffeebd 0, #fff5d6 100%);
  background-image: -o-linear-gradient(top, #ffeebd 0, #fff5d6 100%);
  background-image: linear-gradient(to bottom, #ffeebd 0%, #fff5d6 100%);
}

/* line 83, ../../sass/ui/button.scss */
.btn-info {
  color: white;
  background-color: #3e9ee7;
  border: 1px solid #4197d9;
  background-image: -moz-linear-gradient(top, #3da4f2 0, #4197d9 100%);
  background-image: -webkit-linear-gradient(top, #3da4f2 0, #4197d9 100%);
  background-image: -o-linear-gradient(top, #3da4f2 0, #4197d9 100%);
  background-image: linear-gradient(to bottom, #3da4f2 0%, #4197d9 100%);
}
/* line 87, ../../sass/ui/button.scss */
.btn-info:link, .btn-info:visited, .btn-info:hover {
  color: white;
}
/* line 90, ../../sass/ui/button.scss */
.btn-info:hover {
  background-color: #3097e5;
}
/* line 95, ../../sass/ui/button.scss */
.btn-info:hover {
  background-image: -moz-linear-gradient(top, #2f9df1 0, #3490d6 100%);
  background-image: -webkit-linear-gradient(top, #2f9df1 0, #3490d6 100%);
  background-image: -o-linear-gradient(top, #2f9df1 0, #3490d6 100%);
  background-image: linear-gradient(to bottom, #2f9df1 0%, #3490d6 100%);
}
/* line 98, ../../sass/ui/button.scss */
.btn-info:active {
  background-image: -moz-linear-gradient(top, #3490d6 0, #2f9df1 100%);
  background-image: -webkit-linear-gradient(top, #3490d6 0, #2f9df1 100%);
  background-image: -o-linear-gradient(top, #3490d6 0, #2f9df1 100%);
  background-image: linear-gradient(to bottom, #3490d6 0%, #2f9df1 100%);
}

/* line 83, ../../sass/ui/button.scss */
.btn-info-light {
  color: #3692d9;
  background-color: #e2f2ff;
  border: 1px solid #a6d8ff;
  background-image: -moz-linear-gradient(top, #ebf6ff 0, #d9eeff 100%);
  background-image: -webkit-linear-gradient(top, #ebf6ff 0, #d9eeff 100%);
  background-image: -o-linear-gradient(top, #ebf6ff 0, #d9eeff 100%);
  background-image: linear-gradient(to bottom, #ebf6ff 0%, #d9eeff 100%);
}
/* line 87, ../../sass/ui/button.scss */
.btn-info-light:link, .btn-info-light:visited, .btn-info-light:hover {
  color: #3692d9;
}
/* line 90, ../../sass/ui/button.scss */
.btn-info-light:hover {
  background-color: #d3ebff;
}
/* line 95, ../../sass/ui/button.scss */
.btn-info-light:hover {
  background-image: -moz-linear-gradient(top, #dcefff 0, #cae7ff 100%);
  background-image: -webkit-linear-gradient(top, #dcefff 0, #cae7ff 100%);
  background-image: -o-linear-gradient(top, #dcefff 0, #cae7ff 100%);
  background-image: linear-gradient(to bottom, #dcefff 0%, #cae7ff 100%);
}
/* line 98, ../../sass/ui/button.scss */
.btn-info-light:active {
  background-image: -moz-linear-gradient(top, #cae7ff 0, #dcefff 100%);
  background-image: -webkit-linear-gradient(top, #cae7ff 0, #dcefff 100%);
  background-image: -o-linear-gradient(top, #cae7ff 0, #dcefff 100%);
  background-image: linear-gradient(to bottom, #cae7ff 0%, #dcefff 100%);
}

/* line 114, ../../sass/ui/button.scss */
.btn-s {
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  font-size: 12px;
}

/* line 127, ../../sass/ui/button.scss */
button.btn-s,
input.btn-s {
  height: 22px;
  _line-height: 17px;
}

/* line 114, ../../sass/ui/button.scss */
.btn-m {
  height: 24px;
  line-height: 24px;
  padding: 0 15px;
  font-size: 12px;
}

/* line 127, ../../sass/ui/button.scss */
button.btn-m,
input.btn-m {
  height: 26px;
  _height: 21px;
  *line-height: 21px;
}

/* line 114, ../../sass/ui/button.scss */
.btn-l {
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  font-size: 14px;
  font-family: arial, "Microsoft Yahei", sans-serif;
  *font-weight: bold;
}

/* line 127, ../../sass/ui/button.scss */
button.btn-l,
input.btn-l {
  height: 32px;
  _height: 27px;
  *line-height: 27px;
}

/* line 114, ../../sass/ui/button.scss */
.btn-xl {
  height: 34px;
  line-height: 34px;
  padding: 0 25px;
  font-size: 14px;
  font-family: arial, "Microsoft Yahei", sans-serif;
  *font-weight: bold;
}

/* line 127, ../../sass/ui/button.scss */
button.btn-xl,
input.btn-xl {
  height: 36px;
  _height: 31px;
  *line-height: 31px;
}

/* line 114, ../../sass/ui/button.scss */
.btn-xxl {
  height: 38px;
  line-height: 38px;
  padding: 0 30px;
  font-size: 16px;
  font-family: arial, "Microsoft Yahei", sans-serif;
  *font-weight: bold;
}

/* line 127, ../../sass/ui/button.scss */
button.btn-xxl,
input.btn-xxl {
  height: 40px;
  _height: 35px;
  *line-height: 35px;
}

/* line 145, ../../sass/ui/button.scss */
.btn-icon {
  position: relative;
  padding-left: 35px;
}
/* line 148, ../../sass/ui/button.scss */
.btn-icon .icon {
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -8px;
  _display: block;
  _top: 4px;
}

/* line 162, ../../sass/ui/button.scss */
.btn-group {
  overflow: hidden;
  *zoom: 1;
}
/* line 165, ../../sass/ui/button.scss */
.btn-group .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  float: left;
  margin-left: -1px;
}
/* line 170, ../../sass/ui/button.scss */
.btn-group .first {
  -webkit-border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-left: 0;
}
/* line 175, ../../sass/ui/button.scss */
.btn-group .last {
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 179, ../../sass/ui/button.scss */
.btn-group .active {
  background: #fff;
}

/* line 186, ../../sass/ui/button.scss */
.btn-disabled,
.btn-disabled:hover {
  background-image: none;
  background-color: #eee;
  border: 1px solid #d9d9d9;
  color: #999999;
  cursor: not-allowed;
}

/* line 193, ../../sass/ui/button.scss */
a.btn-disabled {
  color: #999999;
}

.icon, .icon-2x, .icon-3x {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  font-size: 0;
}

/* line 39, ../../sass/ui/icon.scss */
.icon {
  width: 16px;
  height: 16px;
  background: url("../../img/global/icon.png") no-repeat;
}

/* line 39, ../../sass/ui/icon.scss */
.icon-2x {
  width: 32px;
  height: 32px;
  background: url("../../img/global/icon-2x.png") no-repeat;
}

/* line 39, ../../sass/ui/icon.scss */
.icon-3x {
  width: 48px;
  height: 48px;
  background: url("../../img/global/icon-3x.png") no-repeat;
}

/* line 48, ../../sass/ui/icon.scss */
.icon-warn {
  background-position: 0 0;
}

/* line 51, ../../sass/ui/icon.scss */
.icon-succ {
  background-position: -16px 0;
}

/* line 54, ../../sass/ui/icon.scss */
.icon-error {
  background-position: -80px 0;
}

/* line 57, ../../sass/ui/icon.scss */
.icon-info {
  background-position: -32px 0;
}

/* line 62, ../../sass/ui/icon.scss */
.icon-2x-succ {
  background-position: -32px 0;
}

/* line 65, ../../sass/ui/icon.scss */
.icon-2x-info {
  background-position: -64px 0;
}

/* line 68, ../../sass/ui/icon.scss */
.icon-2x-warn {
  background-position: -64px -32px;
}

/* line 71, ../../sass/ui/icon.scss */
.icon-2x-error {
  background-position: 0 0;
}

/* line 76, ../../sass/ui/icon.scss */
.icon-3x-warn {
  background-position: 0 0;
}

/* line 79, ../../sass/ui/icon.scss */
.icon-3x-succ {
  background-position: -48px 0;
}

/* line 82, ../../sass/ui/icon.scss */
.icon-3x-info {
  background-position: -96px 0;
}

/* line 85, ../../sass/ui/icon.scss */
.icon-3x-error {
  background-position: 0 -48px;
}

.tip-succ {
  background-color: #e5fae1;
  border: 1px solid #bed7a8;
  color: #58991f;
}

/* line 27, ../../sass/ui/tip.scss */
.tip-error {
  background-color: #fae6e6;
  border: 1px solid #fad2cd;
  color: #cc220b;
}

/* line 27, ../../sass/ui/tip.scss */
.tip-warn {
  background-color: #fcf3de;
  border: 1px solid #e8d4a8;
  color: #c59120;
}

/* line 27, ../../sass/ui/tip.scss */
.tip-info {
  background-color: #e6f1fa;
  border: 1px solid #c7dbeb;
  color: #1c75bb;
}

/* line 38, ../../sass/ui/tip.scss */
.tip {
  padding: 7px 10px 7px 31px;
  overflow: hidden;
  *zoom: 1;
}
/* line 42, ../../sass/ui/tip.scss */
.tip .icon {
  float: left;
  margin: 2px 0 0 -21px;
}

/* line 49, ../../sass/ui/tip.scss */
.tip-m,
.tip-l {
  border: none;
  color: #4d4d4d;
}

/* line 55, ../../sass/ui/tip.scss */
.tip-m {
  padding: 20px 20px 25px 62px;
}
/* line 57, ../../sass/ui/tip.scss */
.tip-m .icon-2x {
  float: left;
  margin-left: -42px;
}
/* line 61, ../../sass/ui/tip.scss */
.tip-m .tip-hd {
  padding: 5px 0 0;
  font-size: 14px;
}

/* line 68, ../../sass/ui/tip.scss */
.tip-l {
  padding: 20px 40px 35px 88px;
}
/* line 70, ../../sass/ui/tip.scss */
.tip-l .icon-3x {
  float: left;
  margin-left: -58px;
}
/* line 74, ../../sass/ui/tip.scss */
.tip-l .tip-hd {
  padding: 12px 0;
  font-size: 18px;
}

/* line 81, ../../sass/ui/tip.scss */
.tip-close {
  float: right;
  font: bold 12px/14px tahoma, arial, sans-serif;
  cursor: pointer;
}

/* line 88, ../../sass/ui/tip.scss */
.tip-hd {
  font-family: arial, "Microsoft Yahei", sans-serif;
  font-weight: bold;
  margin-bottom: 7px;
}

/* line 96, ../../sass/ui/tip.scss */
.tip-bd .text, .tip-bd .text-lst {
  margin-bottom: 10px;
}

/* line 100, ../../sass/ui/tip.scss */
.tip-sub-hd {
  font-size: 14px;
  margin-bottom: 10px;
}

/* line 105, ../../sass/ui/tip.scss */
.tip-lnks .v-sep {
  margin: 0 10px;
}

/* line 109, ../../sass/ui/tip.scss */
.tip-ope {
  margin: 20px 0 0;
}

.bubble {
  position: absolute;
  padding: 8px 20px 8px 10px;
  border: 1px solid #d9d9d9;
  background-color: #f2f2f2;
}

/* line 34, ../../sass/ui/bubble.scss */
.bubble-arrow, .bubble-arrow .bubble-arrow-in {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  border: 8px solid #d9d9d9;
}

/* line 52, ../../sass/ui/bubble.scss */
.bubble-info {
  border: 1px solid #c7dbeb;
  background-color: #e6f1fa;
}
/* line 55, ../../sass/ui/bubble.scss */
.bubble-info .bubble-arrow, .bubble-info .bubble-arrow .bubble-arrow-in, .bubble-arrow .bubble-info .bubble-arrow-in {
  border-color: #c7dbeb;
}
/* line 58, ../../sass/ui/bubble.scss */
.bubble-info .bubble-arrow-in {
  border-color: #e6f1fa;
}

/* line 52, ../../sass/ui/bubble.scss */
.bubble-succ {
  border: 1px solid #bed7a8;
  background-color: #e5fae1;
}
/* line 55, ../../sass/ui/bubble.scss */
.bubble-succ .bubble-arrow, .bubble-succ .bubble-arrow .bubble-arrow-in, .bubble-arrow .bubble-succ .bubble-arrow-in {
  border-color: #bed7a8;
}
/* line 58, ../../sass/ui/bubble.scss */
.bubble-succ .bubble-arrow-in {
  border-color: #e5fae1;
}

/* line 52, ../../sass/ui/bubble.scss */
.bubble-error {
  border: 1px solid #fad2cd;
  background-color: #fae6e6;
}
/* line 55, ../../sass/ui/bubble.scss */
.bubble-error .bubble-arrow, .bubble-error .bubble-arrow .bubble-arrow-in, .bubble-arrow .bubble-error .bubble-arrow-in {
  border-color: #fad2cd;
}
/* line 58, ../../sass/ui/bubble.scss */
.bubble-error .bubble-arrow-in {
  border-color: #fae6e6;
}

/* line 52, ../../sass/ui/bubble.scss */
.bubble-warn {
  border: 1px solid #e8d4a8;
  background-color: #fcf3de;
}
/* line 55, ../../sass/ui/bubble.scss */
.bubble-warn .bubble-arrow, .bubble-warn .bubble-arrow .bubble-arrow-in, .bubble-arrow .bubble-warn .bubble-arrow-in {
  border-color: #e8d4a8;
}
/* line 58, ../../sass/ui/bubble.scss */
.bubble-warn .bubble-arrow-in {
  border-color: #fcf3de;
}

/* line 72, ../../sass/ui/bubble.scss */
.bubble-hd {
  margin-bottom: 5px;
}

/* line 75, ../../sass/ui/bubble.scss */
.bubble-close {
  color: #666666;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-family: tahoma, arial, sans-serif;
  line-height: 1;
}

.gmp-tb code, p code {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  padding: 2px 4px;
  margin: 0 5px;
  background-color: #eee;
  color: #0a8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 23, ../sass/gmp.scss */
body, input, select, textarea, button {
  font: 13px/1.5 arial, 'Microsoft Yahei', sans-serif;
  outline: none;
}

/* line 28, ../sass/gmp.scss */
input[type='text'] {
  border: 1px solid #ccc;
}
/* line 30, ../sass/gmp.scss */
input[type='text']:focus {
  border-color: #267dce;
}

/* line 36, ../sass/gmp.scss */
.error[type='text'] {
  border-color: #a22721;
}

/* line 43, ../sass/gmp.scss */
.gmp-layout,
.gmp-layout-doc {
  width: 1190px;
  overflow: hidden;
  margin: 0 auto;
}

/* line 48, ../sass/gmp.scss */
.gmp-layout-doc {
  margin: 0 0 0 20px;
}

/* line 52, ../sass/gmp.scss */
.gmp-header-wrap {
  background-color: #2c3e50;
  margin-bottom: 10px;
}

/* line 56, ../sass/gmp.scss */
.gmp-header {
  padding-left: 10px;
  font-family: arial, 'Microsoft Yahei', sans-serif;
  overflow: hidden;
}
/* line 60, ../sass/gmp.scss */
.gmp-header .logo {
  font-size: 24px;
  float: left;
  margin-right: 30px;
  line-height: 50px;
}
/* line 65, ../sass/gmp.scss */
.gmp-header .logo:link, .gmp-header .logo:visited, .gmp-header .logo:hover {
  color: #fff;
  text-decoration: none;
}

/* line 71, ../sass/gmp.scss */
.gmp-nav {
  float: left;
  font-size: 14px;
  margin-left: 20px;
}
/* line 75, ../sass/gmp.scss */
.gmp-nav li {
  float: left;
}
/* line 78, ../sass/gmp.scss */
.gmp-nav a {
  display: block;
  padding: 0 20px;
  line-height: 50px;
}
/* line 82, ../sass/gmp.scss */
.gmp-nav a:link, .gmp-nav a:visited {
  color: #8aa4be;
}
/* line 85, ../sass/gmp.scss */
.gmp-nav a:hover {
  color: #cbd7e3;
  text-decoration: none;
}
/* line 91, ../sass/gmp.scss */
.gmp-nav .active a {
  background-color: #233140;
}
/* line 93, ../sass/gmp.scss */
.gmp-nav .active a:link, .gmp-nav .active a:visited, .gmp-nav .active a:hover {
  color: #cbd7e3;
}

/* line 99, ../sass/gmp.scss */
.gmp-module-switch {
  float: right;
  margin-top: 9px;
}

/* line 104, ../sass/gmp.scss */
.gmp-footer {
  text-align: center;
  color: #cccccc;
  margin-top: 50px;
}

/* line 110, ../sass/gmp.scss */
.gmp-tb {
  width: 100%;
  margin-bottom: 20px;
}
/* line 113, ../sass/gmp.scss */
.gmp-tb th, .gmp-tb td {
  border: 1px solid #dfe6ee;
  padding: 8px 10px;
}
/* line 117, ../sass/gmp.scss */
.gmp-tb th {
  background-color: #ecf0f5;
}
/* line 121, ../sass/gmp.scss */
.gmp-tb tr:not([class='empty']):hover td {
  background-color: #f9f9f9;
}
/* line 126, ../sass/gmp.scss */
.gmp-tb .empty td {
  text-align: center;
  font-size: 20px;
  color: #999999;
  padding: 50px 0;
  font-family: arial, "Microsoft Yahei", sans-serif;
}
/* line 134, ../sass/gmp.scss */
.gmp-tb .td-act {
  text-align: center;
}
/* line 136, ../sass/gmp.scss */
.gmp-tb .td-act a {
  margin: 0 10px;
}

/* line 146, ../sass/gmp.scss */
.required {
  color: #d9363c;
  margin-right: 5px;
}

/* line 150, ../sass/gmp.scss */
.gmp-error {
  color: #d9363c;
}

/* line 153, ../sass/gmp.scss */
.gmp-success {
  color: #199900;
}

/* line 157, ../sass/gmp.scss */
.gmp-tip .icon {
  margin: -2px 3px 0 0;
}

/* line 163, ../sass/gmp.scss */
.gmp-page {
  overflow: hidden;
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 60px;
}

/* line 173, ../sass/gmp.scss */
.gmp-page-half,
.gmp-editor,
.gmp-preview {
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 177, ../sass/gmp.scss */
.gmp-page-half {
  width: 49%;
  float: left;
  border: 1px solid #ced9e5;
}
/* line 181, ../sass/gmp.scss */
.gmp-page-half:last-child {
  float: right;
}

/* line 185, ../sass/gmp.scss */
.gmp-form {
  position: relative;
}

/* line 188, ../sass/gmp.scss */
.gmp-page-toolbar {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
  display: none;
}

/* line 195, ../sass/gmp.scss */
.gmp-preview {
  padding: 20px;
  background-color: #fff;
  overflow-y: scroll;
}

/* line 200, ../sass/gmp.scss */
.ta-editor-value {
  display: none;
}

/* line 203, ../sass/gmp.scss */
.gmp-page-submit {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  background-color: #e8edf2;
  border-top: 1px solid #ced9e5;
}
/* line 211, ../sass/gmp.scss */
.gmp-page-submit label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
/* line 215, ../sass/gmp.scss */
.gmp-page-submit label input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 190px;
  height: 40px;
  padding: 0 10px;
}
/* line 223, ../sass/gmp.scss */
.gmp-page-submit .loading {
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
  font-size: 14px;
  font-family: arial, "Microsoft Yahei", sans-serif;
  font-style: italic;
  margin-left: 10px;
  display: none;
}
/* line 232, ../sass/gmp.scss */
.gmp-page-submit .loading, .gmp-page-submit .loading img {
  height: 16px;
}
/* line 235, ../sass/gmp.scss */
.gmp-page-submit .loading img {
  width: 16px;
  margin-top: -2px;
}
/* line 240, ../sass/gmp.scss */
.gmp-page-submit .gmp-tip {
  margin-left: 20px;
  display: none;
}

/* line 250, ../sass/gmp.scss */
.gmp-new-page .btn {
  margin-right: 15px;
}

/* line 259, ../sass/gmp.scss */
.gmp-entry {
  padding-left: 230px;
}

/* line 262, ../sass/gmp.scss */
.gmp-side {
  width: 190px;
  float: left;
  padding: 10px 0;
  margin-left: -230px;
}

/* line 268, ../sass/gmp.scss */
.gmp-fixed {
  position: fixed;
  top: 0;
}

/* line 273, ../sass/gmp.scss */
.gmp-menu-main > li {
  margin-bottom: 5px;
}
/* line 274, ../sass/gmp.scss */
.gmp-menu-main > li a {
  display: block;
  line-height: 28px;
  padding: 0 10px;
}
/* line 278, ../sass/gmp.scss */
.gmp-menu-main > li a:link, .gmp-menu-main > li a:visited {
  color: #999;
}
/* line 281, ../sass/gmp.scss */
.gmp-menu-main > li a:hover {
  text-decoration: none;
  color: #d9363c;
}
/* line 289, ../sass/gmp.scss */
.gmp-menu-main > .active > a {
  background-color: #eee;
}
/* line 291, ../sass/gmp.scss */
.gmp-menu-main > .active > a:link, .gmp-menu-main > .active > a:visited, .gmp-menu-main > .active > a:hover {
  color: #08274e;
}

/* line 298, ../sass/gmp.scss */
.gmp-menu-sub {
  margin-top: 3px;
  display: none;
}
/* line 302, ../sass/gmp.scss */
.gmp-menu-sub li a {
  padding-left: 20px;
  font-size: 12px;
}
/* line 309, ../sass/gmp.scss */
.gmp-menu-sub .active a:link, .gmp-menu-sub .active a:visited, .gmp-menu-sub .active a:hover {
  color: #08274e;
}
/* line 314, ../sass/gmp.scss */
.active .gmp-menu-sub {
  display: block;
}

/* line 318, ../sass/gmp.scss */
.gmp-h {
  font-family: 'Microsoft Yahei';
}

/* line 321, ../sass/gmp.scss */
h2.gmp-h {
  margin: 50px 0 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #d9d9d9;
}
/* line 325, ../sass/gmp.scss */
h2.gmp-h:first-child {
  margin-top: 20px;
}

/* line 329, ../sass/gmp.scss */
h3.gmp-h {
  margin: 15px 0 10px;
}

/* line 332, ../sass/gmp.scss */
h4.gmp-h {
  margin: 10px 0 6px;
  font-size: 18px;
}

/* line 336, ../sass/gmp.scss */
h5.gmp-h {
  margin-bottom: 5px;
}

/* line 339, ../sass/gmp.scss */
pre {
  margin-bottom: 10px;
}

/* line 342, ../sass/gmp.scss */
p {
  font-size: 14px;
  margin-bottom: 8px;
  line-height: 1.6;
}
/* line 349, ../sass/gmp.scss */
p img {
  margin-bottom: 10px;
}

/* line 353, ../sass/gmp.scss */
.gmp-para-lead {
  font-size: 18px;
}

/* line 356, ../sass/gmp.scss */
.hljs {
  border: 1px solid #d9e2ec;
}

/* line 362, ../sass/gmp.scss */
.gmp-example {
  border: 1px solid #d9e2ec;
  padding: 20px;
  margin-bottom: 10px;
  font-family: arial, sans-serif;
  font-size: 12px;
  overflow: hidden;
  *zoom: 1;
}
/* line 370, ../sass/gmp.scss */
.gmp-example p {
  font-size: 12px;
  margin: 0;
  line-height: 1.5;
}
/* line 375, ../sass/gmp.scss */
.gmp-example .text {
  margin-bottom: 10px;
}
/* line 378, ../sass/gmp.scss */
.gmp-example .gmp-bubble {
  float: left;
  position: relative;
  width: 150px;
  height: 70px;
}

/* line 385, ../sass/gmp.scss */
.gmp-example-item {
  margin-bottom: 10px;
}

/* line 388, ../sass/gmp.scss */
.gmp-example + pre {
  margin-top: -11px;
}

/* line 392, ../sass/gmp.scss */
.gmp-color {
  overflow: hidden;
}

/* line 395, ../sass/gmp.scss */
.gmp-color-item {
  float: left;
  width: 60px;
  margin-right: 30px;
}

/* line 400, ../sass/gmp.scss */
.gmp-color-block {
  height: 60px;
  width: 60px;
  float: left;
}

/* line 405, ../sass/gmp.scss */
.gmp-color-name {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 14px;
  font-style: italic;
  text-align: center;
  line-height: 24px;
}

/* line 413, ../sass/gmp.scss */
.gmp-color-main-red {
  color: #d9363c;
}
/* line 415, ../sass/gmp.scss */
.gmp-color-main-red .gmp-color-block {
  background-color: #d9363c;
}

/* line 413, ../sass/gmp.scss */
.gmp-color-main-yellow {
  color: #ffc20e;
}
/* line 415, ../sass/gmp.scss */
.gmp-color-main-yellow .gmp-color-block {
  background-color: #ffc20e;
}

/* line 413, ../sass/gmp.scss */
.gmp-color-main-dark {
  color: #231f20;
}
/* line 415, ../sass/gmp.scss */
.gmp-color-main-dark .gmp-color-block {
  background-color: #231f20;
}

/* line 413, ../sass/gmp.scss */
.gmp-color-sub-blue {
  color: #3692d9;
}
/* line 415, ../sass/gmp.scss */
.gmp-color-sub-blue .gmp-color-block {
  background-color: #3692d9;
}

/* line 413, ../sass/gmp.scss */
.gmp-color-sub-blue-light {
  color: #50a5e6;
}
/* line 415, ../sass/gmp.scss */
.gmp-color-sub-blue-light .gmp-color-block {
  background-color: #50a5e6;
}

/* line 413, ../sass/gmp.scss */
.gmp-color-sub-blue-lighter {
  color: #73c2ff;
}
/* line 415, ../sass/gmp.scss */
.gmp-color-sub-blue-lighter .gmp-color-block {
  background-color: #73c2ff;
}

/* line 413, ../sass/gmp.scss */
.gmp-color-sub-green {
  color: #60bf4c;
}
/* line 415, ../sass/gmp.scss */
.gmp-color-sub-green .gmp-color-block {
  background-color: #60bf4c;
}

/* line 413, ../sass/gmp.scss */
.gmp-color-sub-green-light {
  color: #7ed96c;
}
/* line 415, ../sass/gmp.scss */
.gmp-color-sub-green-light .gmp-color-block {
  background-color: #7ed96c;
}

/* line 413, ../sass/gmp.scss */
.gmp-color-sub-green-lighter {
  color: #a1f291;
}
/* line 415, ../sass/gmp.scss */
.gmp-color-sub-green-lighter .gmp-color-block {
  background-color: #a1f291;
}

/* line 413, ../sass/gmp.scss */
.gmp-color-sub-yellow {
  color: #d9a22b;
}
/* line 415, ../sass/gmp.scss */
.gmp-color-sub-yellow .gmp-color-block {
  background-color: #d9a22b;
}

/* line 413, ../sass/gmp.scss */
.gmp-color-sub-yellow-light {
  color: #e6b345;
}
/* line 415, ../sass/gmp.scss */
.gmp-color-sub-yellow-light .gmp-color-block {
  background-color: #e6b345;
}

/* line 413, ../sass/gmp.scss */
.gmp-color-sub-yellow-lighter {
  color: #ffcf66;
}
/* line 415, ../sass/gmp.scss */
.gmp-color-sub-yellow-lighter .gmp-color-block {
  background-color: #ffcf66;
}

/* line 413, ../sass/gmp.scss */
.gmp-color-font-green {
  color: #199900;
}
/* line 415, ../sass/gmp.scss */
.gmp-color-font-green .gmp-color-block {
  background-color: #199900;
}

/* line 413, ../sass/gmp.scss */
.gmp-color-font-yellow {
  color: #cc9829;
}
/* line 415, ../sass/gmp.scss */
.gmp-color-font-yellow .gmp-color-block {
  background-color: #cc9829;
}

/* line 413, ../sass/gmp.scss */
.gmp-color-font-head {
  color: #333333;
}
/* line 415, ../sass/gmp.scss */
.gmp-color-font-head .gmp-color-block {
  background-color: #333333;
}

/* line 413, ../sass/gmp.scss */
.gmp-color-font-body {
  color: #4d4d4d;
}
/* line 415, ../sass/gmp.scss */
.gmp-color-font-body .gmp-color-block {
  background-color: #4d4d4d;
}

/* line 413, ../sass/gmp.scss */
.gmp-color-font-gray {
  color: #666666;
}
/* line 415, ../sass/gmp.scss */
.gmp-color-font-gray .gmp-color-block {
  background-color: #666666;
}

/* line 413, ../sass/gmp.scss */
.gmp-color-font-gray-light {
  color: #999999;
}
/* line 415, ../sass/gmp.scss */
.gmp-color-font-gray-light .gmp-color-block {
  background-color: #999999;
}

/* line 413, ../sass/gmp.scss */
.gmp-color-bg-red {
  color: #fae6e6;
}
/* line 415, ../sass/gmp.scss */
.gmp-color-bg-red .gmp-color-block {
  background-color: #fae6e6;
}

/* line 413, ../sass/gmp.scss */
.gmp-color-bg-red-light {
  color: #ffe5e6;
}
/* line 415, ../sass/gmp.scss */
.gmp-color-bg-red-light .gmp-color-block {
  background-color: #ffe5e6;
}

/* line 413, ../sass/gmp.scss */
.gmp-color-bg-blue {
  color: #e6f1fa;
}
/* line 415, ../sass/gmp.scss */
.gmp-color-bg-blue .gmp-color-block {
  background-color: #e6f1fa;
}

/* line 413, ../sass/gmp.scss */
.gmp-color-bg-blue-light {
  color: #e5f4ff;
}
/* line 415, ../sass/gmp.scss */
.gmp-color-bg-blue-light .gmp-color-block {
  background-color: #e5f4ff;
}

/* line 413, ../sass/gmp.scss */
.gmp-color-bg-green {
  color: #e5fae1;
}
/* line 415, ../sass/gmp.scss */
.gmp-color-bg-green .gmp-color-block {
  background-color: #e5fae1;
}

/* line 413, ../sass/gmp.scss */
.gmp-color-bg-green-light {
  color: #eaffe5;
}
/* line 415, ../sass/gmp.scss */
.gmp-color-bg-green-light .gmp-color-block {
  background-color: #eaffe5;
}

/* line 413, ../sass/gmp.scss */
.gmp-color-bg-yellow {
  color: #fcf3de;
}
/* line 415, ../sass/gmp.scss */
.gmp-color-bg-yellow .gmp-color-block {
  background-color: #fcf3de;
}

/* line 413, ../sass/gmp.scss */
.gmp-color-bg-yellow-light {
  color: #fff7e5;
}
/* line 415, ../sass/gmp.scss */
.gmp-color-bg-yellow-light .gmp-color-block {
  background-color: #fff7e5;
}

/* line 413, ../sass/gmp.scss */
.gmp-color-bg-gray {
  color: #f2f2f2;
}
/* line 415, ../sass/gmp.scss */
.gmp-color-bg-gray .gmp-color-block {
  background-color: #f2f2f2;
}

/* line 413, ../sass/gmp.scss */
.gmp-color-bg-gray-light {
  color: #fafafa;
}
/* line 415, ../sass/gmp.scss */
.gmp-color-bg-gray-light .gmp-color-block {
  background-color: #fafafa;
}

/* line 458, ../sass/gmp.scss */
.gmp-color-bg .gmp-color-name {
  color: #999;
}

/* line 464, ../sass/gmp.scss */
.gmp-color-bd-gray .gmp-color-block {
  border: 1px solid #ccc;
}

/* line 469, ../sass/gmp.scss */
.gmp-color-bd-gray-light .gmp-color-block {
  border: 1px solid #d9d9d9;
}

/* line 474, ../sass/gmp.scss */
.gmp-color-bd-gray-lighter .gmp-color-block {
  border: 1px solid #e6e6e6;
}

/* line 7, ../../sass/highlight/github.scss */
.hljs {
  display: block;
  padding: 1em;
  color: #333;
  background: #f7f7f9;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  line-height: 1.5;
}

/* line 20, ../../sass/highlight/github.scss */
.hljs-comment,
.hljs-template_comment,
.diff .hljs-header,
.hljs-javadoc {
  color: #93a1a1;
}

/* line 31, ../../sass/highlight/github.scss */
.hljs-keyword,
.css .rule .hljs-keyword,
.hljs-winutils,
.javascript .hljs-title,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status {
  color: #333;
  font-weight: bold;
}

/* line 38, ../../sass/highlight/github.scss */
.hljs-number,
.hljs-hexcolor,
.ruby .hljs-constant {
  color: #099;
}

/* line 45, ../../sass/highlight/github.scss */
.hljs-string,
.hljs-tag .hljs-value,
.hljs-phpdoc,
.tex .hljs-formula {
  color: #d14;
}

/* line 52, ../../sass/highlight/github.scss */
.hljs-title,
.hljs-id,
.coffeescript .hljs-params,
.scss .hljs-preprocessor {
  color: #900;
  font-weight: bold;
}

/* line 60, ../../sass/highlight/github.scss */
.javascript .hljs-title,
.lisp .hljs-title,
.clojure .hljs-title,
.hljs-subst {
  font-weight: normal;
}

/* line 67, ../../sass/highlight/github.scss */
.hljs-class .hljs-title,
.haskell .hljs-type,
.vhdl .hljs-literal,
.tex .hljs-command {
  color: #458;
  font-weight: bold;
}

/* line 75, ../../sass/highlight/github.scss */
.hljs-tag,
.hljs-tag .hljs-title,
.hljs-rules .hljs-property,
.django .hljs-tag .hljs-keyword {
  color: #000080;
  font-weight: normal;
}

/* line 82, ../../sass/highlight/github.scss */
.hljs-attribute,
.hljs-variable,
.lisp .hljs-body {
  color: #008080;
}

/* line 86, ../../sass/highlight/github.scss */
.hljs-regexp {
  color: #009926;
}

/* line 94, ../../sass/highlight/github.scss */
.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.lisp .hljs-keyword,
.tex .hljs-special,
.hljs-prompt {
  color: #990073;
}

/* line 100, ../../sass/highlight/github.scss */
.hljs-built_in,
.lisp .hljs-title,
.clojure .hljs-built_in {
  color: #0086b3;
}

/* line 109, ../../sass/highlight/github.scss */
.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
  color: #999;
  font-weight: bold;
}

/* line 114, ../../sass/highlight/github.scss */
.hljs-deletion {
  background: #fdd;
}

/* line 118, ../../sass/highlight/github.scss */
.hljs-addition {
  background: #dfd;
}

/* line 122, ../../sass/highlight/github.scss */
.diff .hljs-change {
  background: #0086b3;
}

/* line 126, ../../sass/highlight/github.scss */
.hljs-chunk {
  color: #aaa;
}
