.hd {
  overflow: hidden;
  *zoom: 1;
}

.fcon {
  display: inline-block;
  font-family: IconFont;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, footer, header,
menu, nav, output, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.hd {
  overflow: hidden;
  *zoom: 1;
}

.fcon {
  display: inline-block;
  font-family: IconFont;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

body {
  color: #4d4d4d;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

body, input, select, textarea, button {
  font: 12px/1.5 arial, sans-serif;
  outline: none;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
}
a:link, a:visited {
  color: #0066dd;
}
a:hover {
  color: #d9363c;
  text-decoration: underline;
}

img {
  vertical-align: middle;
}

.red {
  color: #d9363c;
}

.yellow {
  color: #cc9829;
}

.blue {
  color: #0066dd;
}

.green {
  color: #199900;
}

.gray {
  color: #666666;
}

.gray-light {
  color: #999999;
}

.bg-green {
  background-color: #e5fae1;
}

.bg-red {
  background-color: #fae6e6;
}

.bg-yellow {
  background-color: #fcf3de;
}

.bg-blue {
  background-color: #e6f1fa;
}

.bg-gray {
  background-color: #f2f2f2;
}

h2, h3, h4, h5 {
  font-family: arial, "Microsoft Yahei", sans-serif;
  color: #333333;
  *font-weight: normal;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
  font-weight: bold;
}

.hd .h {
  float: left;
}
.hd .h-sub {
  font-size: 12px;
  margin-left: 10px;
  color: #999999;
  font-family: arial, sans-serif;
}
.hd .h-ope {
  float: right;
}

.text {
  margin-bottom: 10px;
}

.text-lst li {
  padding: 2px 0 2px 9px;
  background: url(/img/global/list-style.png) 0 9px no-repeat;
}

ol.text-lst {
  margin-left: 1.6em;
  *margin-left: 2em;
}
ol.text-lst li {
  background: none;
  list-style-type: decimal;
  padding-left: 0;
}

strong {
  font-weight: bold;
}

.v-sep {
  margin: 0 5px;
  color: #999999;
}

.text-space {
  margin: 0 3px;
}

.hd {
  overflow: hidden;
  *zoom: 1;
}

.fcon {
  display: inline-block;
  font-family: IconFont;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.bubble {
  position: absolute;
  padding: 8px 20px 8px 10px;
}

.bubble-arrow,
.bubble-arrow-in {
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  border: 8px dashed transparent;
  *zoom: 1;
}

.bubble-arrow-in {
  left: 0;
  top: 0;
  _border: 8px dashed transparent;
}

.bubble-default {
  border: 1px solid #d9d9d9;
  background-color: #f2f2f2;
}
.bubble-default .bubble-arrow-top {
  border-bottom: 8px solid #d9d9d9;
}
.bubble-default .bubble-arrow-top .bubble-arrow-in {
  border-bottom: 8px solid #f2f2f2;
}
.bubble-default .bubble-arrow-right {
  border-left: 8px solid #d9d9d9;
}
.bubble-default .bubble-arrow-right .bubble-arrow-in {
  border-left: 8px solid #f2f2f2;
}
.bubble-default .bubble-arrow-bottom {
  border-top: 8px solid #d9d9d9;
}
.bubble-default .bubble-arrow-bottom .bubble-arrow-in {
  border-top: 8px solid #f2f2f2;
}
.bubble-default .bubble-arrow-left {
  border-right: 8px solid #d9d9d9;
}
.bubble-default .bubble-arrow-left .bubble-arrow-in {
  border-right: 8px solid #f2f2f2;
}

.bubble-info {
  border: 1px solid #c7dbeb;
  background-color: #e6f1fa;
}
.bubble-info .bubble-arrow-top {
  border-bottom: 8px solid #c7dbeb;
}
.bubble-info .bubble-arrow-top .bubble-arrow-in {
  border-bottom: 8px solid #e6f1fa;
}
.bubble-info .bubble-arrow-right {
  border-left: 8px solid #c7dbeb;
}
.bubble-info .bubble-arrow-right .bubble-arrow-in {
  border-left: 8px solid #e6f1fa;
}
.bubble-info .bubble-arrow-bottom {
  border-top: 8px solid #c7dbeb;
}
.bubble-info .bubble-arrow-bottom .bubble-arrow-in {
  border-top: 8px solid #e6f1fa;
}
.bubble-info .bubble-arrow-left {
  border-right: 8px solid #c7dbeb;
}
.bubble-info .bubble-arrow-left .bubble-arrow-in {
  border-right: 8px solid #e6f1fa;
}

.bubble-succ {
  border: 1px solid #bed7a8;
  background-color: #e5fae1;
}
.bubble-succ .bubble-arrow-top {
  border-bottom: 8px solid #bed7a8;
}
.bubble-succ .bubble-arrow-top .bubble-arrow-in {
  border-bottom: 8px solid #e5fae1;
}
.bubble-succ .bubble-arrow-right {
  border-left: 8px solid #bed7a8;
}
.bubble-succ .bubble-arrow-right .bubble-arrow-in {
  border-left: 8px solid #e5fae1;
}
.bubble-succ .bubble-arrow-bottom {
  border-top: 8px solid #bed7a8;
}
.bubble-succ .bubble-arrow-bottom .bubble-arrow-in {
  border-top: 8px solid #e5fae1;
}
.bubble-succ .bubble-arrow-left {
  border-right: 8px solid #bed7a8;
}
.bubble-succ .bubble-arrow-left .bubble-arrow-in {
  border-right: 8px solid #e5fae1;
}

.bubble-error {
  border: 1px solid #fad2cd;
  background-color: #fae6e6;
}
.bubble-error .bubble-arrow-top {
  border-bottom: 8px solid #fad2cd;
}
.bubble-error .bubble-arrow-top .bubble-arrow-in {
  border-bottom: 8px solid #fae6e6;
}
.bubble-error .bubble-arrow-right {
  border-left: 8px solid #fad2cd;
}
.bubble-error .bubble-arrow-right .bubble-arrow-in {
  border-left: 8px solid #fae6e6;
}
.bubble-error .bubble-arrow-bottom {
  border-top: 8px solid #fad2cd;
}
.bubble-error .bubble-arrow-bottom .bubble-arrow-in {
  border-top: 8px solid #fae6e6;
}
.bubble-error .bubble-arrow-left {
  border-right: 8px solid #fad2cd;
}
.bubble-error .bubble-arrow-left .bubble-arrow-in {
  border-right: 8px solid #fae6e6;
}

.bubble-warn {
  border: 1px solid #e8d4a8;
  background-color: #fcf3de;
}
.bubble-warn .bubble-arrow-top {
  border-bottom: 8px solid #e8d4a8;
}
.bubble-warn .bubble-arrow-top .bubble-arrow-in {
  border-bottom: 8px solid #fcf3de;
}
.bubble-warn .bubble-arrow-right {
  border-left: 8px solid #e8d4a8;
}
.bubble-warn .bubble-arrow-right .bubble-arrow-in {
  border-left: 8px solid #fcf3de;
}
.bubble-warn .bubble-arrow-bottom {
  border-top: 8px solid #e8d4a8;
}
.bubble-warn .bubble-arrow-bottom .bubble-arrow-in {
  border-top: 8px solid #fcf3de;
}
.bubble-warn .bubble-arrow-left {
  border-right: 8px solid #e8d4a8;
}
.bubble-warn .bubble-arrow-left .bubble-arrow-in {
  border-right: 8px solid #fcf3de;
}

.bubble-arrow-top {
  top: -16px;
}
.bubble-arrow-top .bubble-arrow-in {
  margin-left: -8px;
  margin-top: -7px;
}

.bubble-arrow-right {
  right: -16px;
}
.bubble-arrow-right .bubble-arrow-in {
  margin-left: -9px;
  margin-top: -8px;
}

.bubble-arrow-bottom {
  bottom: -16px;
}
.bubble-arrow-bottom .bubble-arrow-in {
  margin-left: -8px;
  margin-top: -9px;
}

.bubble-arrow-left {
  left: -16px;
}
.bubble-arrow-left .bubble-arrow-in {
  margin-left: -7px;
  margin-top: -8px;
}

.bubble-hd {
  margin-bottom: 5px;
}

.bubble-close {
  color: #666666;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-family: tahoma, arial, sans-serif;
  line-height: 1;
}

.hd {
  overflow: hidden;
  *zoom: 1;
}

.fcon {
  display: inline-block;
  font-family: IconFont;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  _margin-bottom: 1px;
}

button.btn,
input.btn {
  *overflow: visible;
  *filter: chroma(color=black);
}
button.btn::-moz-focus-inner,
input.btn::-moz-focus-inner {
  border: none;
  padding: 0;
}
button.btn:focus,
input.btn:focus {
  outline: none;
}

a.btn:hover {
  text-decoration: none;
}

.btn-default {
  color: #4d4d4d;
  background-color: #f2f2f2;
  border: 1px solid #d9d9d9;
  background-image: -moz-linear-gradient(top, #fafafa 0, #ebebeb 100%);
  background-image: -webkit-linear-gradient(top, #fafafa 0, #ebebeb 100%);
  background-image: -o-linear-gradient(top, #fafafa 0, #ebebeb 100%);
  background-image: linear-gradient(to bottom, #fafafa 0%, #ebebeb 100%);
}
.btn-default:link, .btn-default:visited, .btn-default:hover {
  color: #4d4d4d;
}
.btn-default:hover {
  background-color: #eaeaea;
}
.btn-default:hover {
  background-image: -moz-linear-gradient(top, #f2f2f2 0, #e3e3e3 100%);
  background-image: -webkit-linear-gradient(top, #f2f2f2 0, #e3e3e3 100%);
  background-image: -o-linear-gradient(top, #f2f2f2 0, #e3e3e3 100%);
  background-image: linear-gradient(to bottom, #f2f2f2 0%, #e3e3e3 100%);
}
.btn-default:active {
  background-image: -moz-linear-gradient(top, #e3e3e3 0, #f2f2f2 100%);
  background-image: -webkit-linear-gradient(top, #e3e3e3 0, #f2f2f2 100%);
  background-image: -o-linear-gradient(top, #e3e3e3 0, #f2f2f2 100%);
  background-image: linear-gradient(to bottom, #e3e3e3 0%, #f2f2f2 100%);
}

.btn-primary {
  color: white;
  background-color: #e6454a;
  border: 1px solid #d94146;
  background-image: -moz-linear-gradient(top, #f2494e 0, #d94146 100%);
  background-image: -webkit-linear-gradient(top, #f2494e 0, #d94146 100%);
  background-image: -o-linear-gradient(top, #f2494e 0, #d94146 100%);
  background-image: linear-gradient(to bottom, #f2494e 0%, #d94146 100%);
}
.btn-primary:link, .btn-primary:visited, .btn-primary:hover {
  color: white;
}
.btn-primary:hover {
  background-color: #e4383d;
}
.btn-primary:hover {
  background-image: -moz-linear-gradient(top, #f13b40 0, #d6343a 100%);
  background-image: -webkit-linear-gradient(top, #f13b40 0, #d6343a 100%);
  background-image: -o-linear-gradient(top, #f13b40 0, #d6343a 100%);
  background-image: linear-gradient(to bottom, #f13b40 0%, #d6343a 100%);
}
.btn-primary:active {
  background-image: -moz-linear-gradient(top, #d6343a 0, #f13b40 100%);
  background-image: -webkit-linear-gradient(top, #d6343a 0, #f13b40 100%);
  background-image: -o-linear-gradient(top, #d6343a 0, #f13b40 100%);
  background-image: linear-gradient(to bottom, #d6343a 0%, #f13b40 100%);
}

.btn-primary-light {
  color: #e5454a;
  background-color: #ffe0e1;
  border: 1px solid #ffb2b5;
  background-image: -moz-linear-gradient(top, #ffe5e6 0, #ffd9da 100%);
  background-image: -webkit-linear-gradient(top, #ffe5e6 0, #ffd9da 100%);
  background-image: -o-linear-gradient(top, #ffe5e6 0, #ffd9da 100%);
  background-image: linear-gradient(to bottom, #ffe5e6 0%, #ffd9da 100%);
}
.btn-primary-light:link, .btn-primary-light:visited, .btn-primary-light:hover {
  color: #e5454a;
}
.btn-primary-light:hover {
  background-color: #ffd1d2;
}
.btn-primary-light:hover {
  background-image: -moz-linear-gradient(top, #ffd6d7 0, #ffcacb 100%);
  background-image: -webkit-linear-gradient(top, #ffd6d7 0, #ffcacb 100%);
  background-image: -o-linear-gradient(top, #ffd6d7 0, #ffcacb 100%);
  background-image: linear-gradient(to bottom, #ffd6d7 0%, #ffcacb 100%);
}
.btn-primary-light:active {
  background-image: -moz-linear-gradient(top, #ffcacb 0, #ffd6d7 100%);
  background-image: -webkit-linear-gradient(top, #ffcacb 0, #ffd6d7 100%);
  background-image: -o-linear-gradient(top, #ffcacb 0, #ffd6d7 100%);
  background-image: linear-gradient(to bottom, #ffcacb 0%, #ffd6d7 100%);
}

.btn-sub {
  color: #785206;
  background-color: #f9bc13;
  border: 1px solid #f2b10c;
  background-image: -moz-linear-gradient(top, #ffc619 0, #f2b10c 100%);
  background-image: -webkit-linear-gradient(top, #ffc619 0, #f2b10c 100%);
  background-image: -o-linear-gradient(top, #ffc619 0, #f2b10c 100%);
  background-image: linear-gradient(to bottom, #ffc619 0%, #f2b10c 100%);
}
.btn-sub:link, .btn-sub:visited, .btn-sub:hover {
  color: #785206;
}
.btn-sub:hover {
  background-color: #f6b706;
}
.btn-sub:hover {
  background-image: -moz-linear-gradient(top, #ffc20a 0, #e3a60b 100%);
  background-image: -webkit-linear-gradient(top, #ffc20a 0, #e3a60b 100%);
  background-image: -o-linear-gradient(top, #ffc20a 0, #e3a60b 100%);
  background-image: linear-gradient(to bottom, #ffc20a 0%, #e3a60b 100%);
}
.btn-sub:active {
  background-image: -moz-linear-gradient(top, #e3a60b 0, #ffc20a 100%);
  background-image: -webkit-linear-gradient(top, #e3a60b 0, #ffc20a 100%);
  background-image: -o-linear-gradient(top, #e3a60b 0, #ffc20a 100%);
  background-image: linear-gradient(to bottom, #e3a60b 0%, #ffc20a 100%);
}

.btn-sub-light {
  color: #997300;
  background-color: #fff6da;
  border: 1px solid #f2d785;
  background-image: -moz-linear-gradient(top, #fff9e5 0, #fff2cc 100%);
  background-image: -webkit-linear-gradient(top, #fff9e5 0, #fff2cc 100%);
  background-image: -o-linear-gradient(top, #fff9e5 0, #fff2cc 100%);
  background-image: linear-gradient(to bottom, #fff9e5 0%, #fff2cc 100%);
}
.btn-sub-light:link, .btn-sub-light:visited, .btn-sub-light:hover {
  color: #997300;
}
.btn-sub-light:hover {
  background-color: #fff2cb;
}
.btn-sub-light:hover {
  background-image: -moz-linear-gradient(top, #fff5d6 0, #ffeebd 100%);
  background-image: -webkit-linear-gradient(top, #fff5d6 0, #ffeebd 100%);
  background-image: -o-linear-gradient(top, #fff5d6 0, #ffeebd 100%);
  background-image: linear-gradient(to bottom, #fff5d6 0%, #ffeebd 100%);
}
.btn-sub-light:active {
  background-image: -moz-linear-gradient(top, #ffeebd 0, #fff5d6 100%);
  background-image: -webkit-linear-gradient(top, #ffeebd 0, #fff5d6 100%);
  background-image: -o-linear-gradient(top, #ffeebd 0, #fff5d6 100%);
  background-image: linear-gradient(to bottom, #ffeebd 0%, #fff5d6 100%);
}

.btn-info {
  color: white;
  background-color: #3e9ee7;
  border: 1px solid #4197d9;
  background-image: -moz-linear-gradient(top, #3da4f2 0, #4197d9 100%);
  background-image: -webkit-linear-gradient(top, #3da4f2 0, #4197d9 100%);
  background-image: -o-linear-gradient(top, #3da4f2 0, #4197d9 100%);
  background-image: linear-gradient(to bottom, #3da4f2 0%, #4197d9 100%);
}
.btn-info:link, .btn-info:visited, .btn-info:hover {
  color: white;
}
.btn-info:hover {
  background-color: #3097e5;
}
.btn-info:hover {
  background-image: -moz-linear-gradient(top, #2f9df1 0, #3490d6 100%);
  background-image: -webkit-linear-gradient(top, #2f9df1 0, #3490d6 100%);
  background-image: -o-linear-gradient(top, #2f9df1 0, #3490d6 100%);
  background-image: linear-gradient(to bottom, #2f9df1 0%, #3490d6 100%);
}
.btn-info:active {
  background-image: -moz-linear-gradient(top, #3490d6 0, #2f9df1 100%);
  background-image: -webkit-linear-gradient(top, #3490d6 0, #2f9df1 100%);
  background-image: -o-linear-gradient(top, #3490d6 0, #2f9df1 100%);
  background-image: linear-gradient(to bottom, #3490d6 0%, #2f9df1 100%);
}

.btn-info-light {
  color: #3692d9;
  background-color: #e2f2ff;
  border: 1px solid #a6d8ff;
  background-image: -moz-linear-gradient(top, #ebf6ff 0, #d9eeff 100%);
  background-image: -webkit-linear-gradient(top, #ebf6ff 0, #d9eeff 100%);
  background-image: -o-linear-gradient(top, #ebf6ff 0, #d9eeff 100%);
  background-image: linear-gradient(to bottom, #ebf6ff 0%, #d9eeff 100%);
}
.btn-info-light:link, .btn-info-light:visited, .btn-info-light:hover {
  color: #3692d9;
}
.btn-info-light:hover {
  background-color: #d3ebff;
}
.btn-info-light:hover {
  background-image: -moz-linear-gradient(top, #dcefff 0, #cae7ff 100%);
  background-image: -webkit-linear-gradient(top, #dcefff 0, #cae7ff 100%);
  background-image: -o-linear-gradient(top, #dcefff 0, #cae7ff 100%);
  background-image: linear-gradient(to bottom, #dcefff 0%, #cae7ff 100%);
}
.btn-info-light:active {
  background-image: -moz-linear-gradient(top, #cae7ff 0, #dcefff 100%);
  background-image: -webkit-linear-gradient(top, #cae7ff 0, #dcefff 100%);
  background-image: -o-linear-gradient(top, #cae7ff 0, #dcefff 100%);
  background-image: linear-gradient(to bottom, #cae7ff 0%, #dcefff 100%);
}

.btn-s {
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  font-size: 12px;
}

button.btn-s,
input.btn-s {
  height: 22px;
  _line-height: 17px;
}

.btn-m {
  height: 24px;
  line-height: 24px;
  padding: 0 15px;
  font-size: 12px;
}

button.btn-m,
input.btn-m {
  height: 26px;
  _height: 21px;
  *line-height: 21px;
}

.btn-l {
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  font-size: 14px;
  font-family: arial, "Microsoft Yahei", sans-serif;
  *font-weight: bold;
}

button.btn-l,
input.btn-l {
  height: 32px;
  _height: 27px;
  *line-height: 27px;
}

.btn-xl {
  height: 34px;
  line-height: 34px;
  padding: 0 25px;
  font-size: 14px;
  font-family: arial, "Microsoft Yahei", sans-serif;
  *font-weight: bold;
}

button.btn-xl,
input.btn-xl {
  height: 36px;
  _height: 31px;
  *line-height: 31px;
}

.btn-xxl {
  height: 38px;
  line-height: 38px;
  padding: 0 30px;
  font-size: 16px;
  font-family: arial, "Microsoft Yahei", sans-serif;
  *font-weight: bold;
}

button.btn-xxl,
input.btn-xxl {
  height: 40px;
  _height: 35px;
  *line-height: 35px;
}

.btn-icon {
  position: relative;
  padding-left: 35px;
}
.btn-icon .icon {
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -8px;
  _display: block;
  _top: 4px;
}

.btn-group {
  overflow: hidden;
  *zoom: 1;
}
.btn-group .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  float: left;
  margin-left: -1px;
}
.btn-group .first {
  -webkit-border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-left: 0;
}
.btn-group .last {
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btn-group .active {
  background: #fff;
}

.btn-disabled,
.btn-disabled:hover {
  background-image: none;
  background-color: #eee;
  border: 1px solid #d9d9d9;
  color: #999999;
  cursor: not-allowed;
}

a.btn-disabled {
  color: #999999;
}

.hd {
  overflow: hidden;
  *zoom: 1;
}

.fcon {
  display: inline-block;
  font-family: IconFont;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

@font-face {
  font-family: 'IconFont';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fcon {
  vertical-align: middle;
}

.fcon-2x {
  font-size: 24px;
}

.fcon-rotate:hover {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fcon-search:before {
  content: "\f002";
}

.fcon-th:before {
  content: "\f00a";
}

.fcon-home:before {
  content: "\f015";
}

.fcon-list:before {
  content: "\f03a";
}

.fcon-angle-double-right:before {
  content: "\f101";
}

.fcon-angle-down:before {
  content: "\f107";
}

.fcon-angle-right:before {
  content: "\f105";
}

.fcon-angle-left:before {
  content: "\f104";
}

.fcon-caret-down:before {
  content: "\f0d7";
}

.fcon-times-circle:before {
  content: "\f057";
}

.fcon-cog:before {
  content: "\f013";
}

.fcon-arrow-circle-up:before {
  content: "\f0aa";
}

.fcon-arrow-circle-o-up:before {
  content: "\f01b";
}

.fcon-arrow-left:before {
  content: "\f060";
}

.fcon-map-marker:before {
  content: "\f041";
}

.fcon-th-list:before {
  content: "\f00b";
}

.fcon-bars:before {
  content: "\f0c9";
}

.fcon-arrow-up:before {
  content: "\f062";
}

.fcon-th-large:before {
  content: "\f009";
}

.fcon-jpy:before {
  content: "\f157";
}

.fcon-heart:before {
  content: "\f004";
}

.fcon-chevron-down:before {
  content: "\f078";
}

.fcon-times:before {
  content: "\f00d";
}

.fcon-check:before {
  content: "\f00c";
}

.fcon-food:before {
  content: "\e614";
}

.fcon-apparel:before {
  content: "\e61f";
}

.fcon-menu-more:before {
  content: "\e600";
}

.fcon-mode-text:before {
  content: "\e601";
}

.fcon-mode-big-picture:before {
  content: "\e602";
}

.fcon-original:before {
  content: "\e604";
}

.fcon-home-goods:before {
  content: "\e605";
}

.fcon-goods:before {
  content: "\e606";
}

.fcon-elec-component:before {
  content: "\e622";
}

.fcon-transport:before {
  content: "\e603";
}

.fcon-toys:before {
  content: "\e607";
}

.fcon-tools:before {
  content: "\e608";
}

.fcon-textile:before {
  content: "\e609";
}

.fcon-sporting:before {
  content: "\e60a";
}

.fcon-daily-use:before {
  content: "\e60c";
}

.fcon-office:before {
  content: "\e60d";
}

.fcon-manufacture:before {
  content: "\e60e";
}

.fcon-lights:before {
  content: "\e60f";
}

.fcon-instruments:before {
  content: "\e610";
}

.fcon-industry:before {
  content: "\e611";
}

.fcon-health:before {
  content: "\e612";
}

.fcon-furniture:before {
  content: "\e613";
}

.fcon-energy:before {
  content: "\e615";
}

.fcon-electrical:before {
  content: "\e616";
}

.fcon-edit:before {
  content: "\e617";
}

.fcon-decoration:before {
  content: "\e618";
}

.fcon-consumer-electric:before {
  content: "\e619";
}

.fcon-computer:before {
  content: "\e61a";
}

.fcon-chemicals:before {
  content: "\e61b";
}

.fcon-bags:before {
  content: "\e61c";
}

.fcon-auto:before {
  content: "\e61d";
}

.fcon-arts:before {
  content: "\e61e";
}

.fcon-mode-text-picture:before {
  content: "\e623";
}

.fcon-print:before {
  content: "\f02f";
}

.fcon-safe:before {
  content: "\e621";
}

.hd {
  overflow: hidden;
  *zoom: 1;
}

.fcon {
  display: inline-block;
  font-family: IconFont;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.icon, .icon-2x, .icon-3x {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  font-size: 0;
}

.icon {
  width: 16px;
  height: 16px;
  background: url("../../img/global/icon.png") no-repeat;
}

.icon-2x {
  width: 32px;
  height: 32px;
  background: url("../../img/global/icon-2x.png") no-repeat;
}

.icon-3x {
  width: 48px;
  height: 48px;
  background: url("../../img/global/icon-3x.png") no-repeat;
}

.icon-warn {
  background-position: 0 0;
}

.icon-succ {
  background-position: -16px 0;
}

.icon-error {
  background-position: -80px 0;
}

.icon-info {
  background-position: -32px 0;
}

.icon-2x-succ {
  background-position: -32px 0;
}

.icon-2x-info {
  background-position: -64px 0;
}

.icon-2x-warn {
  background-position: -64px -32px;
}

.icon-2x-error {
  background-position: 0 0;
}

.icon-3x-warn {
  background-position: 0 0;
}

.icon-3x-succ {
  background-position: -48px 0;
}

.icon-3x-info {
  background-position: -96px 0;
}

.icon-3x-error {
  background-position: 0 -48px;
}

.hd {
  overflow: hidden;
  *zoom: 1;
}

.fcon {
  display: inline-block;
  font-family: IconFont;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.hd {
  overflow: hidden;
  *zoom: 1;
}

.fcon {
  display: inline-block;
  font-family: IconFont;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.tip-succ {
  border: 0 solid #bed7a8;
  background-color: #e5fae1;
  color: #58991f;
}

.tip-error {
  border: 0 solid #fad2cd;
  background-color: #fae6e6;
  color: #cc220b;
}

.tip-warn {
  border: 0 solid #e8d4a8;
  background-color: #fcf3de;
  color: #c59120;
}

.tip-info {
  border: 0 solid #c7dbeb;
  background-color: #e6f1fa;
  color: #1c75bb;
}

.tip {
  padding: 7px 10px 7px 31px;
  overflow: hidden;
  *zoom: 1;
}
.tip .icon {
  float: left;
  margin: 2px 0 0 -21px;
}

.tip-notice {
  padding-left: 10px;
  border-width: 1px;
  color: #4d4d4d;
}

.tip-m,
.tip-l {
  color: #4d4d4d;
}

.tip-m {
  padding: 20px 20px 25px 62px;
}
.tip-m .icon-2x {
  float: left;
  margin-left: -42px;
}
.tip-m .tip-hd {
  padding: 5px 0 0;
  font-size: 14px;
}

.tip-l {
  padding: 20px 40px 35px 88px;
}
.tip-l .icon-3x {
  float: left;
  margin-left: -58px;
}
.tip-l .tip-hd {
  padding: 12px 0;
  font-size: 18px;
}

.tip-close {
  float: right;
  font: bold 12px/14px tahoma, arial, sans-serif;
  cursor: pointer;
}

.tip-hd {
  font-family: arial, "Microsoft Yahei", sans-serif;
  font-weight: bold;
  margin-bottom: 7px;
}

.tip-bd .text, .tip-bd .text-lst {
  margin-bottom: 10px;
}

.tip-sub-hd {
  font-size: 14px;
  margin-bottom: 10px;
}

.tip-lnks .v-sep {
  margin: 0 10px;
}

.tip-ope {
  margin: 20px 0 0;
}

/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/
.hljs {
  display: block;
  padding: 1em;
  color: #333;
  background: #f7f7f9;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  line-height: 1.5;
}

.hljs-comment,
.hljs-template_comment,
.diff .hljs-header,
.hljs-javadoc {
  color: #93a1a1;
}

.hljs-keyword,
.css .rule .hljs-keyword,
.hljs-winutils,
.javascript .hljs-title,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-hexcolor,
.ruby .hljs-constant {
  color: #099;
}

.hljs-string,
.hljs-tag .hljs-value,
.hljs-phpdoc,
.tex .hljs-formula {
  color: #d14;
}

.hljs-title,
.hljs-id,
.coffeescript .hljs-params,
.scss .hljs-preprocessor {
  color: #900;
  font-weight: bold;
}

.javascript .hljs-title,
.lisp .hljs-title,
.clojure .hljs-title,
.hljs-subst {
  font-weight: normal;
}

.hljs-class .hljs-title,
.haskell .hljs-type,
.vhdl .hljs-literal,
.tex .hljs-command {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-tag .hljs-title,
.hljs-rules .hljs-property,
.django .hljs-tag .hljs-keyword {
  color: #000080;
  font-weight: normal;
}

.hljs-attribute,
.hljs-variable,
.lisp .hljs-body {
  color: #008080;
}

.hljs-regexp {
  color: #009926;
}

.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.lisp .hljs-keyword,
.tex .hljs-special,
.hljs-prompt {
  color: #990073;
}

.hljs-built_in,
.lisp .hljs-title,
.clojure .hljs-built_in {
  color: #0086b3;
}

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.diff .hljs-change {
  background: #0086b3;
}

.hljs-chunk {
  color: #aaa;
}

.gmp-tb code, p code {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  padding: 2px 4px;
  margin: 0 5px;
  background-color: #eee;
  color: #0a8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

body, input, select, textarea, button {
  font: 13px/1.5 arial, "Microsoft Yahei", sans-serif;
  outline: none;
}

input[type='text'] {
  border: 1px solid #ccc;
}
input[type='text']:focus {
  border-color: #267dce;
}

.error[type='text'] {
  border-color: #d9363c;
}

.gmp-layout,
.gmp-layout-doc {
  width: 1190px;
  overflow: hidden;
  margin: 0 auto;
}

.gmp-layout-doc {
  margin: 0 0 0 20px;
}

.gmp-backtop {
  position: fixed;
  bottom: 100px;
  left: 1220px;
  background: #eee;
  text-align: center;
  line-height: 40px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.gmp-backtop:hover {
  background-color: #ddd;
}
.gmp-backtop a {
  display: block;
  width: 40px;
  height: 40px;
}

.gmp-header-wrap {
  background-color: #2c3e50;
  margin-bottom: 10px;
}

.gmp-header {
  padding-left: 10px;
  font-family: arial, 'Microsoft Yahei', sans-serif;
  overflow: hidden;
}
.gmp-header .logo {
  font-size: 24px;
  float: left;
  margin-right: 30px;
  line-height: 50px;
}
.gmp-header .logo:link, .gmp-header .logo:visited, .gmp-header .logo:hover {
  color: #fff;
  text-decoration: none;
}

.gmp-nav {
  float: left;
  font-size: 14px;
  margin-left: 20px;
}
.gmp-nav li {
  float: left;
}
.gmp-nav a {
  display: block;
  padding: 0 20px;
  line-height: 50px;
}
.gmp-nav a:link, .gmp-nav a:visited {
  color: #8aa4be;
}
.gmp-nav a:hover {
  color: #cbd7e3;
  text-decoration: none;
}
.gmp-nav .active a {
  background-color: #233140;
}
.gmp-nav .active a:link, .gmp-nav .active a:visited, .gmp-nav .active a:hover {
  color: #cbd7e3;
}

.gmp-module-switch {
  float: right;
  margin-top: 9px;
}

.gmp-footer {
  text-align: center;
  color: #cccccc;
  margin-top: 50px;
}

.gmp-tb {
  width: 100%;
  margin-bottom: 20px;
}
.gmp-tb th, .gmp-tb td {
  border: 1px solid #dfe6ee;
  padding: 8px 10px;
}
.gmp-tb th {
  background-color: #ecf0f5;
}
.gmp-tb tr:not([class='empty']):hover td {
  background-color: #f9f9f9;
}
.gmp-tb .empty td {
  text-align: center;
  font-size: 20px;
  color: #999999;
  padding: 50px 0;
  font-family: arial, "Microsoft Yahei", sans-serif;
}
.gmp-tb .td-act {
  text-align: center;
}
.gmp-tb .td-act a {
  margin: 0 10px;
}

.required {
  color: #d9363c;
  margin-right: 5px;
}

.gmp-error {
  color: #d9363c;
}

.gmp-success {
  color: #199900;
}

.gmp-tip .icon {
  margin: -2px 3px 0 0;
}

.gmp-page {
  overflow: hidden;
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 60px;
}

.gmp-page-half,
.gmp-editor,
.gmp-preview {
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.gmp-page-half {
  width: 49%;
  float: left;
  border: 1px solid #ced9e5;
}
.gmp-page-half:last-child {
  float: right;
}

.gmp-form {
  position: relative;
}

.gmp-page-toolbar {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
  display: none;
}

.gmp-preview {
  padding: 20px;
  background-color: #fff;
  overflow-y: scroll;
}

.ta-editor-value {
  display: none;
}

.gmp-page-submit {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  background-color: #e8edf2;
  border-top: 1px solid #ced9e5;
}
.gmp-page-submit label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
.gmp-page-submit label input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 190px;
  height: 40px;
  padding: 0 10px;
}
.gmp-page-submit .loading {
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
  font-size: 14px;
  font-family: arial, "Microsoft Yahei", sans-serif;
  font-style: italic;
  margin-left: 10px;
  display: none;
}
.gmp-page-submit .loading, .gmp-page-submit .loading img {
  height: 16px;
}
.gmp-page-submit .loading img {
  width: 16px;
  margin-top: -2px;
}
.gmp-page-submit .gmp-tip {
  margin-left: 20px;
  display: none;
}

.gmp-new-page .btn {
  margin-right: 15px;
}

.gmp-entry {
  padding-left: 230px;
}

.gmp-side {
  width: 190px;
  float: left;
  padding: 10px 0;
  margin-left: -230px;
}

.gmp-fixed {
  position: fixed;
  top: 0;
}

.gmp-menu-main > li {
  margin-bottom: 5px;
  font-size: 15px;
}
.gmp-menu-main > li a {
  display: block;
  line-height: 28px;
  padding: 0 10px;
}
.gmp-menu-main > li a:link, .gmp-menu-main > li a:visited {
  color: #999;
}
.gmp-menu-main > li a:hover {
  text-decoration: none;
  color: #d9363c;
}
.gmp-menu-main > .active > a {
  background-color: #eee;
}
.gmp-menu-main > .active > a:link, .gmp-menu-main > .active > a:visited, .gmp-menu-main > .active > a:hover {
  color: #08274e;
}

.gmp-menu-sub {
  margin-top: 3px;
  display: none;
}
.gmp-menu-sub li a {
  padding-left: 20px;
  font-size: 13px;
  line-height: 26px;
}
.gmp-menu-sub .active a:link, .gmp-menu-sub .active a:visited, .gmp-menu-sub .active a:hover {
  color: #08274e;
}
.active .gmp-menu-sub {
  display: block;
}

.gmp-h {
  font-family: 'Microsoft Yahei';
}

h2.gmp-h {
  margin: 50px 0 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #d9d9d9;
}
h2.gmp-h:first-child {
  margin-top: 20px;
}

h3.gmp-h {
  margin: 15px 0 10px;
}

h4.gmp-h {
  margin: 10px 0 6px;
  font-size: 18px;
}

h5.gmp-h {
  margin-bottom: 5px;
}

pre {
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  margin-bottom: 8px;
  line-height: 1.6;
}
p img {
  margin-bottom: 10px;
}

.gmp-para-lead {
  font-size: 18px;
}

.hljs {
  border: 1px solid #d9e2ec;
}

.gmp-example {
  border: 1px solid #d9e2ec;
  padding: 20px;
  margin-bottom: 10px;
  font-family: arial, sans-serif;
  font-size: 12px;
  overflow: hidden;
  *zoom: 1;
}
.gmp-example p {
  font-size: 12px;
  margin: 0;
  line-height: 1.5;
}
.gmp-example .text {
  margin-bottom: 10px;
}
.gmp-example .gmp-bubble {
  float: left;
  position: relative;
  width: 150px;
  height: 70px;
}

.gmp-example-item {
  margin-bottom: 10px;
}

.gmp-example + pre {
  margin-top: -11px;
}

.gmp-color {
  overflow: hidden;
}

.gmp-color-item {
  float: left;
  width: 60px;
  margin-right: 30px;
}

.gmp-color-block {
  height: 60px;
  width: 60px;
  float: left;
}

.gmp-color-name {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 14px;
  font-style: italic;
  text-align: center;
  line-height: 24px;
}

.gmp-color-main-red {
  color: #d9363c;
}
.gmp-color-main-red .gmp-color-block {
  background-color: #d9363c;
}

.gmp-color-main-yellow {
  color: #ffc20e;
}
.gmp-color-main-yellow .gmp-color-block {
  background-color: #ffc20e;
}

.gmp-color-main-dark {
  color: #231f20;
}
.gmp-color-main-dark .gmp-color-block {
  background-color: #231f20;
}

.gmp-color-sub-blue {
  color: #3692d9;
}
.gmp-color-sub-blue .gmp-color-block {
  background-color: #3692d9;
}

.gmp-color-sub-blue-light {
  color: #50a5e6;
}
.gmp-color-sub-blue-light .gmp-color-block {
  background-color: #50a5e6;
}

.gmp-color-sub-blue-lighter {
  color: #73c2ff;
}
.gmp-color-sub-blue-lighter .gmp-color-block {
  background-color: #73c2ff;
}

.gmp-color-sub-green {
  color: #60bf4c;
}
.gmp-color-sub-green .gmp-color-block {
  background-color: #60bf4c;
}

.gmp-color-sub-green-light {
  color: #7ed96c;
}
.gmp-color-sub-green-light .gmp-color-block {
  background-color: #7ed96c;
}

.gmp-color-sub-green-lighter {
  color: #a1f291;
}
.gmp-color-sub-green-lighter .gmp-color-block {
  background-color: #a1f291;
}

.gmp-color-sub-yellow {
  color: #d9a22b;
}
.gmp-color-sub-yellow .gmp-color-block {
  background-color: #d9a22b;
}

.gmp-color-sub-yellow-light {
  color: #e6b345;
}
.gmp-color-sub-yellow-light .gmp-color-block {
  background-color: #e6b345;
}

.gmp-color-sub-yellow-lighter {
  color: #ffcf66;
}
.gmp-color-sub-yellow-lighter .gmp-color-block {
  background-color: #ffcf66;
}

.gmp-color-font-green {
  color: #199900;
}
.gmp-color-font-green .gmp-color-block {
  background-color: #199900;
}

.gmp-color-font-yellow {
  color: #cc9829;
}
.gmp-color-font-yellow .gmp-color-block {
  background-color: #cc9829;
}

.gmp-color-font-head {
  color: #333333;
}
.gmp-color-font-head .gmp-color-block {
  background-color: #333333;
}

.gmp-color-font-body {
  color: #4d4d4d;
}
.gmp-color-font-body .gmp-color-block {
  background-color: #4d4d4d;
}

.gmp-color-font-gray {
  color: #666666;
}
.gmp-color-font-gray .gmp-color-block {
  background-color: #666666;
}

.gmp-color-font-gray-light {
  color: #999999;
}
.gmp-color-font-gray-light .gmp-color-block {
  background-color: #999999;
}

.gmp-color-bg-red {
  color: #fae6e6;
}
.gmp-color-bg-red .gmp-color-block {
  background-color: #fae6e6;
}

.gmp-color-bg-red-light {
  color: #ffe5e6;
}
.gmp-color-bg-red-light .gmp-color-block {
  background-color: #ffe5e6;
}

.gmp-color-bg-blue {
  color: #e6f1fa;
}
.gmp-color-bg-blue .gmp-color-block {
  background-color: #e6f1fa;
}

.gmp-color-bg-blue-light {
  color: #e5f4ff;
}
.gmp-color-bg-blue-light .gmp-color-block {
  background-color: #e5f4ff;
}

.gmp-color-bg-green {
  color: #e5fae1;
}
.gmp-color-bg-green .gmp-color-block {
  background-color: #e5fae1;
}

.gmp-color-bg-green-light {
  color: #eaffe5;
}
.gmp-color-bg-green-light .gmp-color-block {
  background-color: #eaffe5;
}

.gmp-color-bg-yellow {
  color: #fcf3de;
}
.gmp-color-bg-yellow .gmp-color-block {
  background-color: #fcf3de;
}

.gmp-color-bg-yellow-light {
  color: #fff7e5;
}
.gmp-color-bg-yellow-light .gmp-color-block {
  background-color: #fff7e5;
}

.gmp-color-bg-gray {
  color: #f2f2f2;
}
.gmp-color-bg-gray .gmp-color-block {
  background-color: #f2f2f2;
}

.gmp-color-bg-gray-light {
  color: #fafafa;
}
.gmp-color-bg-gray-light .gmp-color-block {
  background-color: #fafafa;
}

.gmp-color-bg .gmp-color-name {
  color: #999;
}

.gmp-color-bd-gray .gmp-color-block {
  border: 1px solid #ccc;
}

.gmp-color-bd-gray-light .gmp-color-block {
  border: 1px solid #d9d9d9;
}

.gmp-color-bd-gray-lighter .gmp-color-block {
  border: 1px solid #e6e6e6;
}
