/* line 11, ../sass/gmp.scss */
.gmp-tb code, p code {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  padding: 2px 4px;
  margin: 0 5px;
  background-color: #eee;
  color: #0a8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 22, ../sass/gmp.scss */
body {
  font: 13px/1.3 arial, 'Source Han Sans','Microsoft Yahei', sans-serif;
  color: #4d4d4d;
}

/* line 26, ../sass/gmp.scss */
input, select, textarea, button {
  outline: none;
  font: inherit;
}

/* line 30, ../sass/gmp.scss */
a {
  text-decoration: none;
}
/* line 32, ../sass/gmp.scss */
a:link, a:visited {
  color: #0066dd;
}
/* line 35, ../sass/gmp.scss */
a:hover {
  color: #d9363c;
  text-decoration: underline;
}

/* line 40, ../sass/gmp.scss */
img {
  vertical-align: middle;
}

/* line 44, ../sass/gmp.scss */
input[type='text'] {
  border: 1px solid #ccc;
}
/* line 46, ../sass/gmp.scss */
input[type='text']:focus {
  border-color: #267dce;
}

/* line 52, ../sass/gmp.scss */
.error[type='text'] {
  border-color: #a22721;
}

/* line 56, ../sass/gmp.scss */
.red {
  color: #d9363c;
}

/* line 59, ../sass/gmp.scss */
.bg-green {
  background-color: #e8fdec;
}

/* line 62, ../sass/gmp.scss */
.bg-blue {
  background-color: #e8e9fd;
}

/* line 65, ../sass/gmp.scss */
.bg-red {
  background-color: #fde8ec;
}

/* line 70, ../sass/gmp.scss */
.gmp-layout,
.gmp-layout-doc {
  width: 1190px;
  overflow: hidden;
  margin: 0 auto;
}

/* line 75, ../sass/gmp.scss */
.gmp-layout-doc {
  margin: 0 0 0 20px;
}

/* line 79, ../sass/gmp.scss */
.gmp-header-wrap {
  background-color: #2c3e50;
  margin-bottom: 20px;
}

/* line 83, ../sass/gmp.scss */
.gmp-header {
  padding-left: 10px;
  font-family: arial, 'Microsoft Yahei', sans-serif;
  overflow: hidden;
}
/* line 87, ../sass/gmp.scss */
.gmp-header .logo {
  font-size: 24px;
  float: left;
  margin-right: 30px;
  line-height: 50px;
}
/* line 92, ../sass/gmp.scss */
.gmp-header .logo:link, .gmp-header .logo:visited, .gmp-header .logo:hover {
  color: #fff;
  text-decoration: none;
}

/* line 98, ../sass/gmp.scss */
.gmp-nav {
  float: left;
  font-size: 14px;
  margin-left: 20px;
}
/* line 102, ../sass/gmp.scss */
.gmp-nav li {
  float: left;
}
/* line 105, ../sass/gmp.scss */
.gmp-nav a {
  display: block;
  padding: 0 20px;
  line-height: 50px;
}
/* line 109, ../sass/gmp.scss */
.gmp-nav a:link, .gmp-nav a:visited {
  color: #8aa4be;
}
/* line 112, ../sass/gmp.scss */
.gmp-nav a:hover {
  color: #cbd7e3;
  text-decoration: none;
}
/* line 118, ../sass/gmp.scss */
.gmp-nav .active a {
  background-color: #233140;
}
/* line 120, ../sass/gmp.scss */
.gmp-nav .active a:link, .gmp-nav .active a:visited, .gmp-nav .active a:hover {
  color: #cbd7e3;
}

/* line 126, ../sass/gmp.scss */
.gmp-module-switch {
  float: right;
  margin-top: 9px;
}

/* line 131, ../sass/gmp.scss */
.gmp-footer {
  text-align: center;
  color: #cccccc;
  margin-top: 50px;
}

/* line 137, ../sass/gmp.scss */
.gmp-tb {
  width: 100%;
  margin-bottom: 20px;
}
/* line 140, ../sass/gmp.scss */
.gmp-tb th, .gmp-tb td {
  border: 1px solid #dfe6ee;
  padding: 8px 10px;
}
/* line 144, ../sass/gmp.scss */
.gmp-tb th {
  background-color: #ecf0f5;
}
/* line 148, ../sass/gmp.scss */
.gmp-tb tr:not([class='empty']):hover td {
  background-color: #f9f9f9;
}
/* line 153, ../sass/gmp.scss */
.gmp-tb .empty td {
  text-align: center;
  font-size: 20px;
  color: #999999;
  padding: 50px 0;
  font-family: arial, "Microsoft Yahei", sans-serif;
}
/* line 161, ../sass/gmp.scss */
.gmp-tb .td-act {
  text-align: center;
}
/* line 163, ../sass/gmp.scss */
.gmp-tb .td-act a {
  margin: 0 10px;
}

/* line 173, ../sass/gmp.scss */
.required {
  color: #d9363c;
  margin-right: 5px;
}

/* line 177, ../sass/gmp.scss */
.gmp-error {
  color: #d9363c;
}

/* line 180, ../sass/gmp.scss */
.gmp-success {
  color: #199900;
}

/* line 184, ../sass/gmp.scss */
.gmp-tip .icon {
  margin: -2px 3px 0 0;
}

/* line 190, ../sass/gmp.scss */
.gmp-page {
  overflow: hidden;
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 60px;
}

/* line 200, ../sass/gmp.scss */
.gmp-page-half,
.gmp-editor,
.gmp-preview {
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 204, ../sass/gmp.scss */
.gmp-page-half {
  width: 49%;
  float: left;
  border: 1px solid #ced9e5;
}
/* line 208, ../sass/gmp.scss */
.gmp-page-half:last-child {
  float: right;
}

/* line 212, ../sass/gmp.scss */
.gmp-form {
  position: relative;
}

/* line 215, ../sass/gmp.scss */
.gmp-page-toolbar {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
  display: none;
}

/* line 222, ../sass/gmp.scss */
.gmp-preview {
  padding: 20px;
  background-color: #fff;
  overflow-y: scroll;
}

/* line 227, ../sass/gmp.scss */
.ta-editor-value {
  display: none;
}

/* line 230, ../sass/gmp.scss */
.gmp-page-submit {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  background-color: #e8edf2;
  border-top: 1px solid #ced9e5;
}
/* line 238, ../sass/gmp.scss */
.gmp-page-submit label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
/* line 242, ../sass/gmp.scss */
.gmp-page-submit label input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 190px;
  height: 40px;
  padding: 0 10px;
}
/* line 250, ../sass/gmp.scss */
.gmp-page-submit .loading {
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
  font-size: 14px;
  font-family: arial, "Microsoft Yahei", sans-serif;
  font-style: italic;
  margin-left: 10px;
  display: none;
}
/* line 259, ../sass/gmp.scss */
.gmp-page-submit .loading, .gmp-page-submit .loading img {
  height: 16px;
}
/* line 262, ../sass/gmp.scss */
.gmp-page-submit .loading img {
  width: 16px;
  margin-top: -2px;
}
/* line 267, ../sass/gmp.scss */
.gmp-page-submit .gmp-tip {
  margin-left: 20px;
  display: none;
}

/* line 277, ../sass/gmp.scss */
.gmp-new-page .btn {
  margin-right: 15px;
}

/* line 286, ../sass/gmp.scss */
.gmp-entry {
  padding-left: 230px;
}

/* line 289, ../sass/gmp.scss */
.gmp-side {
  width: 190px;
  float: left;
  padding: 10px 0;
  margin-left: -230px;
}

/* line 295, ../sass/gmp.scss */
.gmp-fixed {
  position: fixed;
  top: 0;
}

/* line 300, ../sass/gmp.scss */
.gmp-menu-main > li {
  margin-bottom: 5px;
}
/* line 301, ../sass/gmp.scss */
.gmp-menu-main > li a {
  display: block;
  line-height: 28px;
  padding: 0 10px;
}
/* line 305, ../sass/gmp.scss */
.gmp-menu-main > li a:link, .gmp-menu-main > li a:visited {
  color: #999;
}
/* line 308, ../sass/gmp.scss */
.gmp-menu-main > li a:hover {
  text-decoration: none;
  color: #d9363c;
}
/* line 316, ../sass/gmp.scss */
.gmp-menu-main > .active > a {
  background-color: #eee;
}
/* line 318, ../sass/gmp.scss */
.gmp-menu-main > .active > a:link, .gmp-menu-main > .active > a:visited, .gmp-menu-main > .active > a:hover {
  color: #08274e;
}

/* line 325, ../sass/gmp.scss */
.gmp-menu-sub {
  margin-top: 3px;
  display: none;
}
/* line 329, ../sass/gmp.scss */
.gmp-menu-sub li a {
  padding-left: 20px;
  font-size: 12px;
}
/* line 336, ../sass/gmp.scss */
.gmp-menu-sub .active a:link, .gmp-menu-sub .active a:visited, .gmp-menu-sub .active a:hover {
  color: #08274e;
}
/* line 341, ../sass/gmp.scss */
.active .gmp-menu-sub {
  display: block;
}

/* line 345, ../sass/gmp.scss */
.gmp-h {
  font-family: 'Microsoft Yahei';
}

/* line 348, ../sass/gmp.scss */
h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  margin: 20px 0 10px;
}

/* line 353, ../sass/gmp.scss */
h2 {
  font-size: 33px;
}

/* line 356, ../sass/gmp.scss */
h2.gmp-h {
  margin-top: 50px;
}
/* line 358, ../sass/gmp.scss */
h2.gmp-h:first-child {
  margin-top: 20px;
}

/* line 362, ../sass/gmp.scss */
h3 {
  font-size: 25px;
}

/* line 365, ../sass/gmp.scss */
h4 {
  font-size: 19px;
  margin: 15px 0 10px;
}

/* line 369, ../sass/gmp.scss */
h5 {
  font-size: 15px;
  margin: 10px 0 6px;
}

/* line 373, ../sass/gmp.scss */
pre {
  margin-bottom: 10px;
}

/* line 376, ../sass/gmp.scss */
p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 8px;
}
/* line 383, ../sass/gmp.scss */
p img {
  margin-bottom: 10px;
}

/* line 387, ../sass/gmp.scss */
.gmp-para-lead {
  font-size: 18px;
}

/* line 390, ../sass/gmp.scss */
.hljs {
  border: 1px solid #d9e2ec;
}

/* line 396, ../sass/gmp.scss */
.gmp-example {
  border: 1px solid #d9e2ec;
  padding: 20px;
  margin-bottom: 10px;
  font-family: arial, sans-serif;
  font-size: 12px;
}
/* line 402, ../sass/gmp.scss */
.gmp-example p {
  font-size: 12px;
  margin: 0;
}

/* line 407, ../sass/gmp.scss */
.gmp-example-item {
  margin-bottom: 10px;
}

/* line 410, ../sass/gmp.scss */
.gmp-example + pre {
  margin-top: -11px;
}

/* line 414, ../sass/gmp.scss */
.gmp-color {
  overflow: hidden;
}

/* line 417, ../sass/gmp.scss */
.gmp-color-item {
  float: left;
  width: 60px;
  margin-right: 30px;
}

/* line 422, ../sass/gmp.scss */
.gmp-color-block {
  height: 60px;
  width: 60px;
  float: left;
}

/* line 427, ../sass/gmp.scss */
.gmp-color-name {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 14px;
  font-style: italic;
  text-align: center;
  line-height: 24px;
}

/* line 435, ../sass/gmp.scss */
.gmp-color-main-red {
  color: #d9363c;
}
/* line 437, ../sass/gmp.scss */
.gmp-color-main-red .gmp-color-block {
  background-color: #d9363c;
}

/* line 435, ../sass/gmp.scss */
.gmp-color-main-yellow {
  color: #ffc20e;
}
/* line 437, ../sass/gmp.scss */
.gmp-color-main-yellow .gmp-color-block {
  background-color: #ffc20e;
}

/* line 435, ../sass/gmp.scss */
.gmp-color-main-dark {
  color: #231f20;
}
/* line 437, ../sass/gmp.scss */
.gmp-color-main-dark .gmp-color-block {
  background-color: #231f20;
}

/* line 435, ../sass/gmp.scss */
.gmp-color-sub-blue {
  color: #3692d9;
}
/* line 437, ../sass/gmp.scss */
.gmp-color-sub-blue .gmp-color-block {
  background-color: #3692d9;
}

/* line 435, ../sass/gmp.scss */
.gmp-color-sub-blue-light {
  color: #50a5e6;
}
/* line 437, ../sass/gmp.scss */
.gmp-color-sub-blue-light .gmp-color-block {
  background-color: #50a5e6;
}

/* line 435, ../sass/gmp.scss */
.gmp-color-sub-blue-lighter {
  color: #73c2ff;
}
/* line 437, ../sass/gmp.scss */
.gmp-color-sub-blue-lighter .gmp-color-block {
  background-color: #73c2ff;
}

/* line 435, ../sass/gmp.scss */
.gmp-color-sub-green {
  color: #60bf4c;
}
/* line 437, ../sass/gmp.scss */
.gmp-color-sub-green .gmp-color-block {
  background-color: #60bf4c;
}

/* line 435, ../sass/gmp.scss */
.gmp-color-sub-green-light {
  color: #7ed96c;
}
/* line 437, ../sass/gmp.scss */
.gmp-color-sub-green-light .gmp-color-block {
  background-color: #7ed96c;
}

/* line 435, ../sass/gmp.scss */
.gmp-color-sub-green-lighter {
  color: #a1f291;
}
/* line 437, ../sass/gmp.scss */
.gmp-color-sub-green-lighter .gmp-color-block {
  background-color: #a1f291;
}

/* line 435, ../sass/gmp.scss */
.gmp-color-sub-yellow {
  color: #d9a22b;
}
/* line 437, ../sass/gmp.scss */
.gmp-color-sub-yellow .gmp-color-block {
  background-color: #d9a22b;
}

/* line 435, ../sass/gmp.scss */
.gmp-color-sub-yellow-light {
  color: #e6b345;
}
/* line 437, ../sass/gmp.scss */
.gmp-color-sub-yellow-light .gmp-color-block {
  background-color: #e6b345;
}

/* line 435, ../sass/gmp.scss */
.gmp-color-sub-yellow-lighter {
  color: #ffcf66;
}
/* line 437, ../sass/gmp.scss */
.gmp-color-sub-yellow-lighter .gmp-color-block {
  background-color: #ffcf66;
}

/* line 435, ../sass/gmp.scss */
.gmp-color-font-green {
  color: #199900;
}
/* line 437, ../sass/gmp.scss */
.gmp-color-font-green .gmp-color-block {
  background-color: #199900;
}

/* line 435, ../sass/gmp.scss */
.gmp-color-font-yellow {
  color: #cc9829;
}
/* line 437, ../sass/gmp.scss */
.gmp-color-font-yellow .gmp-color-block {
  background-color: #cc9829;
}

/* line 435, ../sass/gmp.scss */
.gmp-color-font-head {
  color: #333333;
}
/* line 437, ../sass/gmp.scss */
.gmp-color-font-head .gmp-color-block {
  background-color: #333333;
}

/* line 435, ../sass/gmp.scss */
.gmp-color-font-body {
  color: #4d4d4d;
}
/* line 437, ../sass/gmp.scss */
.gmp-color-font-body .gmp-color-block {
  background-color: #4d4d4d;
}

/* line 435, ../sass/gmp.scss */
.gmp-color-font-gray {
  color: #666666;
}
/* line 437, ../sass/gmp.scss */
.gmp-color-font-gray .gmp-color-block {
  background-color: #666666;
}

/* line 435, ../sass/gmp.scss */
.gmp-color-font-gray-light {
  color: #999999;
}
/* line 437, ../sass/gmp.scss */
.gmp-color-font-gray-light .gmp-color-block {
  background-color: #999999;
}

/* line 435, ../sass/gmp.scss */
.gmp-color-bg-red {
  color: #fae6e6;
}
/* line 437, ../sass/gmp.scss */
.gmp-color-bg-red .gmp-color-block {
  background-color: #fae6e6;
}

/* line 435, ../sass/gmp.scss */
.gmp-color-bg-red-light {
  color: #ffe5e6;
}
/* line 437, ../sass/gmp.scss */
.gmp-color-bg-red-light .gmp-color-block {
  background-color: #ffe5e6;
}

/* line 435, ../sass/gmp.scss */
.gmp-color-bg-blue {
  color: #e6f1fa;
}
/* line 437, ../sass/gmp.scss */
.gmp-color-bg-blue .gmp-color-block {
  background-color: #e6f1fa;
}

/* line 435, ../sass/gmp.scss */
.gmp-color-bg-blue-light {
  color: #e5f4ff;
}
/* line 437, ../sass/gmp.scss */
.gmp-color-bg-blue-light .gmp-color-block {
  background-color: #e5f4ff;
}

/* line 435, ../sass/gmp.scss */
.gmp-color-bg-green {
  color: #e5fae1;
}
/* line 437, ../sass/gmp.scss */
.gmp-color-bg-green .gmp-color-block {
  background-color: #e5fae1;
}

/* line 435, ../sass/gmp.scss */
.gmp-color-bg-green-light {
  color: #eaffe5;
}
/* line 437, ../sass/gmp.scss */
.gmp-color-bg-green-light .gmp-color-block {
  background-color: #eaffe5;
}

/* line 435, ../sass/gmp.scss */
.gmp-color-bg-yellow {
  color: #fcf3de;
}
/* line 437, ../sass/gmp.scss */
.gmp-color-bg-yellow .gmp-color-block {
  background-color: #fcf3de;
}

/* line 435, ../sass/gmp.scss */
.gmp-color-bg-yellow-light {
  color: #fff7e5;
}
/* line 437, ../sass/gmp.scss */
.gmp-color-bg-yellow-light .gmp-color-block {
  background-color: #fff7e5;
}

/* line 435, ../sass/gmp.scss */
.gmp-color-bg-gray {
  color: #f2f2f2;
}
/* line 437, ../sass/gmp.scss */
.gmp-color-bg-gray .gmp-color-block {
  background-color: #f2f2f2;
}

/* line 435, ../sass/gmp.scss */
.gmp-color-bg-gray-light {
  color: #fafafa;
}
/* line 437, ../sass/gmp.scss */
.gmp-color-bg-gray-light .gmp-color-block {
  background-color: #fafafa;
}

/* line 480, ../sass/gmp.scss */
.gmp-color-bg .gmp-color-name {
  color: #999;
}

/* line 486, ../sass/gmp.scss */
.gmp-color-bd-gray .gmp-color-block {
  border: 1px solid #ccc;
}

/* line 491, ../sass/gmp.scss */
.gmp-color-bd-gray-light .gmp-color-block {
  border: 1px solid #d9d9d9;
}

/* line 496, ../sass/gmp.scss */
.gmp-color-bd-gray-lighter .gmp-color-block {
  border: 1px solid #e6e6e6;
}
