.hd {
  overflow: hidden;
  *zoom: 1;
}

body {
  color: #4d4d4d;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

body, input, select, textarea, button {
  font: 12px/1.5 arial, sans-serif;
  outline: none;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
}
a:link, a:visited {
  color: #0066dd;
}
a:hover {
  color: #d9363c;
  text-decoration: underline;
}

img {
  vertical-align: middle;
}

.red {
  color: #d9363c;
}

.yellow {
  color: #cc9829;
}

.blue {
  color: #0066dd;
}

.green {
  color: #199900;
}

.gray {
  color: #666666;
}

.gray-light {
  color: #999999;
}

.bg-green {
  background-color: #e5fae1;
}

.bg-red {
  background-color: #fae6e6;
}

.bg-yellow {
  background-color: #fcf3de;
}

.bg-blue {
  background-color: #e6f1fa;
}

.bg-gray {
  background-color: #f2f2f2;
}

h2, h3, h4, h5 {
  font-family: arial, "Microsoft Yahei", sans-serif;
  color: #333333;
  *font-weight: normal;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
  font-weight: bold;
}

.hd .h {
  float: left;
}
.hd .h-sub {
  font-size: 12px;
  margin-left: 10px;
  color: #999999;
  font-family: arial, sans-serif;
}
.hd .h-ope {
  float: right;
}

.text {
  margin-bottom: 10px;
}

.text-lst li {
  padding: 2px 0 2px 9px;
  background: url(/img/global/list-style.png) 0 9px no-repeat;
}

ol.text-lst {
  margin-left: 1.6em;
  *margin-left: 2em;
}
ol.text-lst li {
  background: none;
  list-style-type: decimal;
  padding-left: 0;
}

strong {
  font-weight: bold;
}

.v-sep {
  margin: 0 5px;
  color: #999999;
}

.text-space {
  margin: 0 3px;
}
