/* line 10, ../../sass/base/common.scss */
body {
  color: #4d4d4d;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

/* line 16, ../../sass/base/common.scss */
body, input, select, textarea, button {
  font: 12px/1.5 arial, sans-serif;
  outline: none;
}

/* line 20, ../../sass/base/common.scss */
textarea {
  resize: none;
}

/* line 23, ../../sass/base/common.scss */
a {
  text-decoration: none;
}
/* line 25, ../../sass/base/common.scss */
a:link, a:visited {
  color: #0066dd;
}
/* line 28, ../../sass/base/common.scss */
a:hover {
  color: #d9363c;
  text-decoration: underline;
}

/* line 33, ../../sass/base/common.scss */
img {
  vertical-align: middle;
}

/* line 40, ../../sass/base/common.scss */
.text-lst li {
  padding: 3px 0 3px 9px;
  background: url(/img/global/list-style.png) 0 10px no-repeat;
}

/* line 47, ../../sass/base/common.scss */
.yellow {
  color: #cc9829;
}

/* line 50, ../../sass/base/common.scss */
.blue {
  color: #0066dd;
}

/* line 53, ../../sass/base/common.scss */
.green {
  color: #199900;
}
