// bubble
// author liw
// =======================================
// required: _css3.scss, _global.scss

// import
@import "../lib/all";

// variables
$bubbleBaseClass: bubble !default;
$bubbleArrowClass: $bubbleBaseClass + '-' + arrow !default;
$bubbleArrowWidth: 16px;

// bubblePos
$bubbleArrowGroup: top, right, bottom, left;


//bubble type class
//              typeName, bgColor,   bdColor
$bubbleDefault: default,  $bgGray,   $bdGray;
$bubbleInfo:    info,     $bgBlue,   $bdBlue;
$bubbleSucc:    succ,     $bgGreen,  $bdGreen;
$bubbleError:   error,    $bgRed,    $bdRed;
$bubbleWarn:    warn,     $bgYellow, $bdYellow;
$bubbleGroup:   $bubbleDefault, $bubbleInfo, $bubbleSucc, $bubbleError, $bubbleWarn !default;

// bubble style
.#{$bubbleBaseClass}{
    position: absolute;
    padding: 8px 20px 8px 10px;
}
.#{$bubbleArrowClass},
.#{$bubbleArrowClass}-in{
    position: absolute;
    width: 0;
    height: 0;
    font-size: 0;
    border: $bubbleArrowWidth/2 dashed transparent;
    @if $lte7 {
        *zoom: 1;
    }
}
.#{$bubbleArrowClass}-in{
    left: 0;
    top: 0;
    @if $ie6{
        _border: $bubbleArrowWidth/2 dashed transparent;
    }
}
@each $bubbleItem in $bubbleGroup{
    $bubbleType: nth($bubbleItem, 1);
    $bubbleBgColor: nth($bubbleItem, 2);
    $bubbleBdColor: nth($bubbleItem, 3);

    $bubbleTypeClass: $bubbleBaseClass + '-' + $bubbleType;

    .#{$bubbleTypeClass}{
        border: 1px solid $bubbleBdColor;
        background-color: $bubbleBgColor;
        @each $bubbleArrowPos in $bubbleArrowGroup{
            .#{$bubbleArrowClass}-#{$bubbleArrowPos}{
                @if $bubbleArrowPos == 'top'{
                    border-bottom: $bubbleArrowWidth/2 solid $bubbleBdColor;
                    .#{$bubbleArrowClass}-in{
                        border-bottom: $bubbleArrowWidth/2 solid $bubbleBgColor;
                    }
                }
                @if $bubbleArrowPos == 'right'{
                    border-left: $bubbleArrowWidth/2 solid $bubbleBdColor;
                    .#{$bubbleArrowClass}-in{
                        border-left: $bubbleArrowWidth/2 solid $bubbleBgColor;
                    }
                }
                @if $bubbleArrowPos == 'bottom'{
                    border-top: $bubbleArrowWidth/2 solid $bubbleBdColor;
                    .#{$bubbleArrowClass}-in{
                        border-top: $bubbleArrowWidth/2 solid $bubbleBgColor;
                    }
                }
                @if $bubbleArrowPos == 'left'{
                    border-right: $bubbleArrowWidth/2 solid $bubbleBdColor;
                    .#{$bubbleArrowClass}-in{
                        border-right: $bubbleArrowWidth/2 solid $bubbleBgColor;
                    }
                }
            }
        }
    }
}

@each $bubbleArrowPos in $bubbleArrowGroup {
    $bubbleArrowPosClass: $bubbleArrowClass + '-' + $bubbleArrowPos;
    .#{$bubbleArrowPosClass}{
        #{$bubbleArrowPos}: -$bubbleArrowWidth;
        @if $bubbleArrowPos == 'top'{
            .#{$bubbleArrowClass}-in{
                margin-left: -$bubbleArrowWidth/2;
                margin-top: -($bubbleArrowWidth/2 - 1);
            }
        }
        @if $bubbleArrowPos == 'right'{
            .#{$bubbleArrowClass}-in{
                margin-left: -($bubbleArrowWidth/2 + 1);
                margin-top: -$bubbleArrowWidth/2;
            }
        }
        @if $bubbleArrowPos == 'bottom'{
            .#{$bubbleArrowClass}-in{
                margin-left: -$bubbleArrowWidth/2;
                margin-top: -($bubbleArrowWidth/2 + 1);
            }
        }
        @if $bubbleArrowPos == 'left'{
            .#{$bubbleArrowClass}-in{
                margin-left: -($bubbleArrowWidth/2 - 1);
                margin-top: -$bubbleArrowWidth/2;
            }
        }
    }
}

.#{$bubbleBaseClass}-hd{
    margin-bottom: 5px;
}
.#{$bubbleBaseClass}-close{
    color: $fcGray;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-family: $ffTahoma;
    line-height: 1;
}

///* poptip arrow style */
//.#{$poptipBaseClass}{
//    .#{$poptipArrowClass}{
//        width: 0px;
//        height: 0px;
//        line-height: 0;
//        font-size: 0;
//        border: 8px dashed transparent;
//        position: absolute;
//        zoom: 1;
//    }
//    @each $arrowItem in $poptipGroup{
//        $arrowBorderStyle: 8px solid transparent;
//        $arrowPositionClass: nth($arrowItem,4);
//        $arrowPositionY: nth($arrowItem,5);
//        $arrowPositionX: nth($arrowItem,6);
//        $arrowMarginTop: nth($arrowItem,7);
//        $arrowMarginLeft: nth($arrowItem,8);
//
//        $arrowClass: unquote('arrow-'+$arrowPositionClass);
//
//        .#{$arrowClass}{
//            @if $arrowClass == 'arrow-top'{
//                border-bottom:  $arrowBorderStyle;
//                top: $arrowPositionY;
//                left: $arrowPositionX;
//                .#{$poptipArrowClass}-in{border-bottom: $arrowBorderStyle;}
//            }
//            @else if $arrowClass == 'arrow-right'{
//                border-left: $arrowBorderStyle;
//                top: $arrowPositionY;
//                right: $arrowPositionX;
//                .#{$poptipArrowClass}-in{border-left: $arrowBorderStyle;}
//                @if $ie6{_right: -17px;}
//            }
//            @else if $arrowClass == 'arrow-bottom'{
//                border-top: $arrowBorderStyle;
//                bottom: $arrowPositionY;
//                left: $arrowPositionX;
//                .#{$poptipArrowClass}-in{border-top: $arrowBorderStyle;}
//            }
//            @else if $arrowClass == 'arrow-left'{
//                border-right: $arrowBorderStyle;
//                top: $arrowPositionY;
//                left: $arrowPositionX;
//                .#{$poptipArrowClass}-in{border-left: $arrowBorderStyle;}
//            }
//            .#{$poptipArrowClass}-in{
//                margin-top: $arrowMarginTop;
//                margin-left: $arrowMarginLeft;
//            }
//        }
//    }
//}
//
///* poptip state style */
//@each $poptipItem in $poptipGroup{
//    $stateClass: nth($poptipItem,1);
//    $backgroundColor: nth($poptipItem,2);
//    $borderColor: nth($poptipItem,3);
//
//    $poptipClass: unquote('poptip-'+$stateClass);
//
//    .#{$poptipClass}{
//        border: 1px solid $borderColor;
//        background-color: $backgroundColor;
//        @each $arrowItem in $poptipGroup{
//
//            $arrowPositionClass: nth($arrowItem,4);
//            $arrowClass: unquote('arrow-'+$arrowPositionClass);
//
//            .#{$arrowClass}{
//                @if $arrowClass == 'arrow-top'{
//                    border-bottom-color:  $borderColor;
//                    .#{$poptipArrowClass}-in{border-bottom-color: $backgroundColor;}
//                }
//                @else if $arrowClass == 'arrow-right'{
//                    border-left-color: $borderColor;
//                    .#{$poptipArrowClass}-in{border-left-color: $backgroundColor;}
//                }
//                @else if $arrowClass == 'arrow-bottom'{
//                    border-top-color: $borderColor;
//                    .#{$poptipArrowClass}-in{border-top-color: $backgroundColor;}
//                }
//                @else if $arrowClass == 'arrow-left'{
//                    border-right-color: $borderColor;
//                    .#{$poptipArrowClass}-in{border-right-color: $backgroundColor;}
//                }
//            }
//        }
//    }
//}