// icon
// author liw
// =======================================
// required: _css3.scss, _global.scss

// import
@import "../lib/all";

// variables
$imgPath: '../../img/global/' !default;

// icon group
$iconDefault: $iconClass, 'icon.png',    16px, 16px !default;
$icon2x:      $icon2xClass,   'icon-2x.png', 32px, 32px !default;
$icon3x:      $icon3xClass,   'icon-3x.png', 48px, 48px !default;
$iconGroup: $iconDefault, $icon2x, $icon3x;

%iconBase{
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    font-size: 0;
}

// background position mixin
@mixin bgpos($axisX: 0, $axisY: 0){
    background-position: $axisX $axisY;
}

@each $iconItem in $iconGroup{
    $iconType: nth($iconItem,1);
    $iconImg: nth($iconItem,2);
    $iconWidth: nth($iconItem,3);
    $iconHeight: nth($iconItem,4);

    $iconImgUrl: $imgPath + $iconImg;

    .#{$iconType}{
        @extend %iconBase;
        width: $iconWidth;
        height: $iconHeight;
        background: url($iconImgUrl) no-repeat
    }
}

// icon default
.#{$iconClass}-info{
    @include bgpos(-16px, 0);
}
.#{$iconClass}-error{
    @include bgpos(-32px, 0);
}
.#{$iconClass}-warn{
    @include bgpos(-48px, 0);
}
.#{$iconClass}-close{
    @include bgpos(0, -16px);
    cursor: pointer;
}
.#{$iconClass}-close:hover{
    @include bgpos(-16px, -16px);
}

// icon 2x
.#{$icon2xClass}-succ{
    @include bgpos(-32px, 0);
}
.#{$icon2xClass}-info{
    @include bgpos(-64px, 0);
}
.#{$icon2xClass}-warn{
    @include bgpos(-64px, -32px);
}
.#{$icon2xClass}-error{
    @include bgpos(0, 0);
}

// icon 3x
.#{$icon3xClass}-warn{
    @include bgpos(0, 0);
}
.#{$icon3xClass}-succ{
    @include bgpos(-48px, 0);
}
.#{$icon3xClass}-info{
    @include bgpos(-96px, 0);
}
.#{$icon3xClass}-error{
    @include bgpos(0, -48px);
}
