// button
// author liw
// =======================================
// required: _css3.scss, _global.scss

// import
@import "../lib/all";

// tip type setting
//          typeName,  backgroundColor, borderColor, color
$tipInfo:   info       $bgBlue          $bdBlue      #1c75bb;
$tipSucc:   succ       $bgGreen         $bdGreen     #58991f;
$tipError:  error      $bgRed           $bdRed       #cc220b;
$tipWarn:   warn       $bgYellow        $bdYellow    #c59120;
$tipTypeGroup: $tipSucc, $tipError, $tipWarn,$tipInfo !default;

// tip type
// ===========================
@each $tipTypeItem in $tipTypeGroup{
    $tipTypeName: nth($tipTypeItem,1);
    $tipBgColor: nth($tipTypeItem,2);
    $tipBdColor: nth($tipTypeItem,3);
    $tipFontColor: nth($tipTypeItem,4);

    $tipTypeClass: $tipClass + '-' + $tipTypeName;
    .#{$tipTypeClass}{
        border: 0 solid $tipBdColor;
        background-color: $tipBgColor;
        color: $tipFontColor;
    }
}

// tip size
// size: default, m(middle), l(large)
// ==========================
// tip default
.#{$tipClass}{
    padding:7px 10px 7px 31px;
    overflow:hidden;
    .#{$iconClass}{
        float: left;
        margin:2px 0 0 -21px;
    }
    @if $lte7 {
        *zoom:1;
    }
}

// tip notice
.#{$tipClass}-notice{
    padding-left: 10px;
    border-width: 1px;
    color: $fcText;
}

.#{$tipClass}-m,
.#{$tipClass}-l{
    color: $fcText;
}

// tip middle
.#{$tipClass}-m{
    padding: 20px 20px 25px 62px;
    .#{$icon2xClass}{
        float: left;
        margin-left: -42px;
    }
    .#{$tipClass}-hd{
        padding: 5px 0 0;
        font-size: 14px;
    }
}

// tip large
.#{$tipClass}-l{
    padding: 20px 40px 35px 88px;
    .#{$icon3xClass}{
        float: left;
        margin-left: -58px;
    }
    .#{$tipClass}-hd{
        padding: 12px 0;
        font-size: 18px;
    }
}


.#{$tipClass}-close{
    float: right;
    font:bold 12px/14px $ffTahoma;
    cursor:pointer;
}

// tip head style
.#{$tipClass}-hd{
    font-family: $ffYahei;
    font-weight: bold;
    margin-bottom: 7px;
}

// tip content style
.#{$tipClass}-bd{
    .text, .text-lst{
        margin-bottom: 10px;
    }
}
.#{$tipClass}-sub-hd{
    font-size: 14px;
    margin-bottom: 10px;
}
.#{$tipClass}-lnks{
    .v-sep{
        margin: 0 10px;
    }
}
.#{$tipClass}-ope{
    margin:20px 0 0;
}

