// button
// author liw
// =======================================
// required: _css3.scss, _global.scss

// import
@import "../include/_global.scss";
@import "../include/_css3.scss";

// tip type setting
//          typeName,  backgroundColor, borderColor, color
$tipInfo:   info       #edf4fa          #c7dbeb      #1c75bb;
$tipSucc:   succ       #ebf9df          #bed7a8      #58991f;
$tipError:  error      #faedee          #fad2cd      #cc220b;
$tipWarn:   warn       #fcf5e3          #e8d4a8      #c59120;
$tipTypeGroup: $tipSucc, $tipError, $tipWarn,$tipInfo !default;

// tip type
// ===========================
@each $tipTypeItem in $tipTypeGroup{
    $tipTypeName: nth($tipTypeItem,1);
    $backgroundColor: nth($tipTypeItem,2);
    $borderColor: nth($tipTypeItem,3);
    $color: nth($tipTypeItem,4);

    $tipTypeClass: $tipBaseClass + '-' + $tipTypeName;
    .#{$tipTypeClass}{
        background-color: $backgroundColor;
        border: 1px solid $borderColor;
        color: $color;
    }
}

// tip size
// size: default, m(middle), l(large)
// ==========================
// tip default
.#{$tipBaseClass}{
    padding:7px 10px 7px 31px;
    overflow:hidden;
    *zoom:1;
    .#{$iconBaseClass}{
        float: left;
        margin:2px 0 0 -21px;
    }
}

.#{$tipBaseClass}-m,
.#{$tipBaseClass}-l{
    border: none;
    color: $fcText;
}

// tip middle
.#{$tipBaseClass}-m{
    padding: 20px 20px 25px 62px;
    .#{$icon2xClass}{
        float: left;
        margin-left: -42px;
    }
    .#{$tipBaseClass}-hd{
        padding: 5px 0 0;
        font-size: 14px;
    }
}

// tip large
.#{$tipBaseClass}-l{
    padding: 20px 40px 35px 88px;
    .#{$icon3xClass}{
        float: left;
        margin-left: -58px;
    }
    .#{$tipBaseClass}-hd{
        padding: 12px 0;
        font-size: 18px;
    }
}


.#{$tipBaseClass}-close{
    float:right;
    font:bold 12px/14px $ffTahoma;
    cursor:pointer;
}

// tip head style
.#{$tipBaseClass}-hd{
    font-family: $ffYahei;
    font-weight: bold;
    margin-bottom: 7px;
}

// tip content style
.#{$tipBaseClass}-bd{
    p,.text-lst{
        margin-bottom: 10px;
    }
}
.#{$tipBaseClass}-sub-hd{
    font-size: 14px;
    margin-bottom: 6px;
}
.#{$tipBaseClass}-links{
    .v-sep{
        margin: 0 10px;
    }
}
.#{$tipBaseClass}-ope{
    margin:10px 0 15px;
}
.#{$tipBaseClass}-lnk-lst{
    overflow: hidden;
    *zoom:1;
    li{
        float: left;
    }
    .v-sep{
        margin: 0 10px;
    }
}

