/* line 28, ../../sass/ui/bubble.scss */
.bubble {
  position: absolute;
  padding: 8px 20px 8px 10px;
  border: 1px solid #d9d9d9;
  background-color: #f2f2f2;
}

/* line 34, ../../sass/ui/bubble.scss */
.bubble-arrow, .bubble-arrow .bubble-arrow-in {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  border: 8px solid #d9d9d9;
}

/* line 52, ../../sass/ui/bubble.scss */
.bubble-info {
  border: 1px solid #c7dbeb;
  background-color: #e6f1fa;
}
/* line 55, ../../sass/ui/bubble.scss */
.bubble-info .bubble-arrow, .bubble-info .bubble-arrow .bubble-arrow-in, .bubble-arrow .bubble-info .bubble-arrow-in {
  border-color: #c7dbeb;
}
/* line 58, ../../sass/ui/bubble.scss */
.bubble-info .bubble-arrow-in {
  border-color: #e6f1fa;
}

/* line 52, ../../sass/ui/bubble.scss */
.bubble-succ {
  border: 1px solid #bed7a8;
  background-color: #e5fae1;
}
/* line 55, ../../sass/ui/bubble.scss */
.bubble-succ .bubble-arrow, .bubble-succ .bubble-arrow .bubble-arrow-in, .bubble-arrow .bubble-succ .bubble-arrow-in {
  border-color: #bed7a8;
}
/* line 58, ../../sass/ui/bubble.scss */
.bubble-succ .bubble-arrow-in {
  border-color: #e5fae1;
}

/* line 52, ../../sass/ui/bubble.scss */
.bubble-error {
  border: 1px solid #fad2cd;
  background-color: #fae6e6;
}
/* line 55, ../../sass/ui/bubble.scss */
.bubble-error .bubble-arrow, .bubble-error .bubble-arrow .bubble-arrow-in, .bubble-arrow .bubble-error .bubble-arrow-in {
  border-color: #fad2cd;
}
/* line 58, ../../sass/ui/bubble.scss */
.bubble-error .bubble-arrow-in {
  border-color: #fae6e6;
}

/* line 52, ../../sass/ui/bubble.scss */
.bubble-warn {
  border: 1px solid #e8d4a8;
  background-color: #fcf3de;
}
/* line 55, ../../sass/ui/bubble.scss */
.bubble-warn .bubble-arrow, .bubble-warn .bubble-arrow .bubble-arrow-in, .bubble-arrow .bubble-warn .bubble-arrow-in {
  border-color: #e8d4a8;
}
/* line 58, ../../sass/ui/bubble.scss */
.bubble-warn .bubble-arrow-in {
  border-color: #fcf3de;
}

/* line 72, ../../sass/ui/bubble.scss */
.bubble-hd {
  margin-bottom: 5px;
}

/* line 75, ../../sass/ui/bubble.scss */
.bubble-close {
  color: #666666;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-family: tahoma, arial, sans-serif;
  line-height: 1;
}
