/* line 28, ../../sass/ui/bubble.scss */
.bubble {
  position: absolute;
  padding: 8px 20px 8px 10px;
}

/* line 33, ../../sass/ui/bubble.scss */
.bubble-arrow,
.bubble-arrow-in {
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  border: 8px solid transparent;
  *zoom: 1;
}

/* line 43, ../../sass/ui/bubble.scss */
.bubble-arrow-in {
  left: 0;
  top: 0;
}

/* line 54, ../../sass/ui/bubble.scss */
.bubble-default {
  border: 1px solid #d9d9d9;
  background-color: #f2f2f2;
}
/* line 58, ../../sass/ui/bubble.scss */
.bubble-default .bubble-arrow-top {
  border-bottom-color: #d9d9d9;
}
/* line 61, ../../sass/ui/bubble.scss */
.bubble-default .bubble-arrow-top .bubble-arrow-in {
  border-bottom-color: #f2f2f2;
}
/* line 58, ../../sass/ui/bubble.scss */
.bubble-default .bubble-arrow-right {
  border-left-color: #d9d9d9;
}
/* line 67, ../../sass/ui/bubble.scss */
.bubble-default .bubble-arrow-right .bubble-arrow-in {
  border-left-color: #f2f2f2;
}
/* line 58, ../../sass/ui/bubble.scss */
.bubble-default .bubble-arrow-bottom {
  border-top-color: #d9d9d9;
}
/* line 73, ../../sass/ui/bubble.scss */
.bubble-default .bubble-arrow-bottom .bubble-arrow-in {
  border-top-color: #f2f2f2;
}
/* line 58, ../../sass/ui/bubble.scss */
.bubble-default .bubble-arrow-left {
  border-right-color: #d9d9d9;
}
/* line 79, ../../sass/ui/bubble.scss */
.bubble-default .bubble-arrow-left .bubble-arrow-in {
  border-right-color: #f2f2f2;
}

/* line 54, ../../sass/ui/bubble.scss */
.bubble-info {
  border: 1px solid #c7dbeb;
  background-color: #e6f1fa;
}
/* line 58, ../../sass/ui/bubble.scss */
.bubble-info .bubble-arrow-top {
  border-bottom-color: #c7dbeb;
}
/* line 61, ../../sass/ui/bubble.scss */
.bubble-info .bubble-arrow-top .bubble-arrow-in {
  border-bottom-color: #e6f1fa;
}
/* line 58, ../../sass/ui/bubble.scss */
.bubble-info .bubble-arrow-right {
  border-left-color: #c7dbeb;
}
/* line 67, ../../sass/ui/bubble.scss */
.bubble-info .bubble-arrow-right .bubble-arrow-in {
  border-left-color: #e6f1fa;
}
/* line 58, ../../sass/ui/bubble.scss */
.bubble-info .bubble-arrow-bottom {
  border-top-color: #c7dbeb;
}
/* line 73, ../../sass/ui/bubble.scss */
.bubble-info .bubble-arrow-bottom .bubble-arrow-in {
  border-top-color: #e6f1fa;
}
/* line 58, ../../sass/ui/bubble.scss */
.bubble-info .bubble-arrow-left {
  border-right-color: #c7dbeb;
}
/* line 79, ../../sass/ui/bubble.scss */
.bubble-info .bubble-arrow-left .bubble-arrow-in {
  border-right-color: #e6f1fa;
}

/* line 54, ../../sass/ui/bubble.scss */
.bubble-succ {
  border: 1px solid #bed7a8;
  background-color: #e5fae1;
}
/* line 58, ../../sass/ui/bubble.scss */
.bubble-succ .bubble-arrow-top {
  border-bottom-color: #bed7a8;
}
/* line 61, ../../sass/ui/bubble.scss */
.bubble-succ .bubble-arrow-top .bubble-arrow-in {
  border-bottom-color: #e5fae1;
}
/* line 58, ../../sass/ui/bubble.scss */
.bubble-succ .bubble-arrow-right {
  border-left-color: #bed7a8;
}
/* line 67, ../../sass/ui/bubble.scss */
.bubble-succ .bubble-arrow-right .bubble-arrow-in {
  border-left-color: #e5fae1;
}
/* line 58, ../../sass/ui/bubble.scss */
.bubble-succ .bubble-arrow-bottom {
  border-top-color: #bed7a8;
}
/* line 73, ../../sass/ui/bubble.scss */
.bubble-succ .bubble-arrow-bottom .bubble-arrow-in {
  border-top-color: #e5fae1;
}
/* line 58, ../../sass/ui/bubble.scss */
.bubble-succ .bubble-arrow-left {
  border-right-color: #bed7a8;
}
/* line 79, ../../sass/ui/bubble.scss */
.bubble-succ .bubble-arrow-left .bubble-arrow-in {
  border-right-color: #e5fae1;
}

/* line 54, ../../sass/ui/bubble.scss */
.bubble-error {
  border: 1px solid #fad2cd;
  background-color: #fae6e6;
}
/* line 58, ../../sass/ui/bubble.scss */
.bubble-error .bubble-arrow-top {
  border-bottom-color: #fad2cd;
}
/* line 61, ../../sass/ui/bubble.scss */
.bubble-error .bubble-arrow-top .bubble-arrow-in {
  border-bottom-color: #fae6e6;
}
/* line 58, ../../sass/ui/bubble.scss */
.bubble-error .bubble-arrow-right {
  border-left-color: #fad2cd;
}
/* line 67, ../../sass/ui/bubble.scss */
.bubble-error .bubble-arrow-right .bubble-arrow-in {
  border-left-color: #fae6e6;
}
/* line 58, ../../sass/ui/bubble.scss */
.bubble-error .bubble-arrow-bottom {
  border-top-color: #fad2cd;
}
/* line 73, ../../sass/ui/bubble.scss */
.bubble-error .bubble-arrow-bottom .bubble-arrow-in {
  border-top-color: #fae6e6;
}
/* line 58, ../../sass/ui/bubble.scss */
.bubble-error .bubble-arrow-left {
  border-right-color: #fad2cd;
}
/* line 79, ../../sass/ui/bubble.scss */
.bubble-error .bubble-arrow-left .bubble-arrow-in {
  border-right-color: #fae6e6;
}

/* line 54, ../../sass/ui/bubble.scss */
.bubble-warn {
  border: 1px solid #e8d4a8;
  background-color: #fcf3de;
}
/* line 58, ../../sass/ui/bubble.scss */
.bubble-warn .bubble-arrow-top {
  border-bottom-color: #e8d4a8;
}
/* line 61, ../../sass/ui/bubble.scss */
.bubble-warn .bubble-arrow-top .bubble-arrow-in {
  border-bottom-color: #fcf3de;
}
/* line 58, ../../sass/ui/bubble.scss */
.bubble-warn .bubble-arrow-right {
  border-left-color: #e8d4a8;
}
/* line 67, ../../sass/ui/bubble.scss */
.bubble-warn .bubble-arrow-right .bubble-arrow-in {
  border-left-color: #fcf3de;
}
/* line 58, ../../sass/ui/bubble.scss */
.bubble-warn .bubble-arrow-bottom {
  border-top-color: #e8d4a8;
}
/* line 73, ../../sass/ui/bubble.scss */
.bubble-warn .bubble-arrow-bottom .bubble-arrow-in {
  border-top-color: #fcf3de;
}
/* line 58, ../../sass/ui/bubble.scss */
.bubble-warn .bubble-arrow-left {
  border-right-color: #e8d4a8;
}
/* line 79, ../../sass/ui/bubble.scss */
.bubble-warn .bubble-arrow-left .bubble-arrow-in {
  border-right-color: #fcf3de;
}

/* line 90, ../../sass/ui/bubble.scss */
.bubble-arrow-top {
  top: -16px;
}
/* line 94, ../../sass/ui/bubble.scss */
.bubble-arrow-top .bubble-arrow-in {
  margin-left: -8px;
  margin-top: -7px;
}

/* line 90, ../../sass/ui/bubble.scss */
.bubble-arrow-right {
  right: -16px;
}
/* line 100, ../../sass/ui/bubble.scss */
.bubble-arrow-right .bubble-arrow-in {
  margin-left: -9px;
  margin-top: -8px;
}

/* line 90, ../../sass/ui/bubble.scss */
.bubble-arrow-bottom {
  bottom: -16px;
}
/* line 106, ../../sass/ui/bubble.scss */
.bubble-arrow-bottom .bubble-arrow-in {
  margin-left: -8px;
  margin-top: -9px;
}

/* line 90, ../../sass/ui/bubble.scss */
.bubble-arrow-left {
  left: -16px;
}
/* line 112, ../../sass/ui/bubble.scss */
.bubble-arrow-left .bubble-arrow-in {
  margin-left: -7px;
  margin-top: -8px;
}

/* line 120, ../../sass/ui/bubble.scss */
.bubble-hd {
  margin-bottom: 5px;
}

/* line 123, ../../sass/ui/bubble.scss */
.bubble-close {
  color: #666666;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-family: tahoma, arial, sans-serif;
  line-height: 1;
}
