/* line 35, ../../sass/ui/button.scss */
.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  _margin-bottom: 1px;
}

/* line 50, ../../sass/ui/button.scss */
button.btn,
input.btn {
  *overflow: visible;
  *filter: chroma(color=black);
}
/* line 59, ../../sass/ui/button.scss */
button.btn::-moz-focus-inner,
input.btn::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 63, ../../sass/ui/button.scss */
button.btn:focus,
input.btn:focus {
  outline: none;
}

/* line 67, ../../sass/ui/button.scss */
a.btn:hover {
  text-decoration: none;
}

/* line 83, ../../sass/ui/button.scss */
.btn-default {
  color: #4d4d4d;
  background-color: #f2f2f2;
  border: 1px solid #d9d9d9;
  background-image: -moz-linear-gradient(top, #fafafa 0, #ebebeb 100%);
  background-image: -webkit-linear-gradient(top, #fafafa 0, #ebebeb 100%);
  background-image: -o-linear-gradient(top, #fafafa 0, #ebebeb 100%);
  background-image: linear-gradient(to bottom, #fafafa 0%, #ebebeb 100%);
}
/* line 87, ../../sass/ui/button.scss */
.btn-default:link, .btn-default:visited, .btn-default:hover {
  color: #4d4d4d;
}
/* line 90, ../../sass/ui/button.scss */
.btn-default:hover {
  background-color: #eaeaea;
}
/* line 95, ../../sass/ui/button.scss */
.btn-default:hover {
  background-image: -moz-linear-gradient(top, #f2f2f2 0, #e3e3e3 100%);
  background-image: -webkit-linear-gradient(top, #f2f2f2 0, #e3e3e3 100%);
  background-image: -o-linear-gradient(top, #f2f2f2 0, #e3e3e3 100%);
  background-image: linear-gradient(to bottom, #f2f2f2 0%, #e3e3e3 100%);
}
/* line 98, ../../sass/ui/button.scss */
.btn-default:active {
  background-image: -moz-linear-gradient(top, #e3e3e3 0, #f2f2f2 100%);
  background-image: -webkit-linear-gradient(top, #e3e3e3 0, #f2f2f2 100%);
  background-image: -o-linear-gradient(top, #e3e3e3 0, #f2f2f2 100%);
  background-image: linear-gradient(to bottom, #e3e3e3 0%, #f2f2f2 100%);
}

/* line 83, ../../sass/ui/button.scss */
.btn-primary {
  color: white;
  background-color: #e6454a;
  border: 1px solid #d94146;
  background-image: -moz-linear-gradient(top, #f2494e 0, #d94146 100%);
  background-image: -webkit-linear-gradient(top, #f2494e 0, #d94146 100%);
  background-image: -o-linear-gradient(top, #f2494e 0, #d94146 100%);
  background-image: linear-gradient(to bottom, #f2494e 0%, #d94146 100%);
}
/* line 87, ../../sass/ui/button.scss */
.btn-primary:link, .btn-primary:visited, .btn-primary:hover {
  color: white;
}
/* line 90, ../../sass/ui/button.scss */
.btn-primary:hover {
  background-color: #e4383d;
}
/* line 95, ../../sass/ui/button.scss */
.btn-primary:hover {
  background-image: -moz-linear-gradient(top, #f13b40 0, #d6343a 100%);
  background-image: -webkit-linear-gradient(top, #f13b40 0, #d6343a 100%);
  background-image: -o-linear-gradient(top, #f13b40 0, #d6343a 100%);
  background-image: linear-gradient(to bottom, #f13b40 0%, #d6343a 100%);
}
/* line 98, ../../sass/ui/button.scss */
.btn-primary:active {
  background-image: -moz-linear-gradient(top, #d6343a 0, #f13b40 100%);
  background-image: -webkit-linear-gradient(top, #d6343a 0, #f13b40 100%);
  background-image: -o-linear-gradient(top, #d6343a 0, #f13b40 100%);
  background-image: linear-gradient(to bottom, #d6343a 0%, #f13b40 100%);
}

/* line 83, ../../sass/ui/button.scss */
.btn-primary-light {
  color: #e5454a;
  background-color: #ffe0e1;
  border: 1px solid #ffb2b5;
  background-image: -moz-linear-gradient(top, #ffe5e6 0, #ffd9da 100%);
  background-image: -webkit-linear-gradient(top, #ffe5e6 0, #ffd9da 100%);
  background-image: -o-linear-gradient(top, #ffe5e6 0, #ffd9da 100%);
  background-image: linear-gradient(to bottom, #ffe5e6 0%, #ffd9da 100%);
}
/* line 87, ../../sass/ui/button.scss */
.btn-primary-light:link, .btn-primary-light:visited, .btn-primary-light:hover {
  color: #e5454a;
}
/* line 90, ../../sass/ui/button.scss */
.btn-primary-light:hover {
  background-color: #ffd1d2;
}
/* line 95, ../../sass/ui/button.scss */
.btn-primary-light:hover {
  background-image: -moz-linear-gradient(top, #ffd6d7 0, #ffcacb 100%);
  background-image: -webkit-linear-gradient(top, #ffd6d7 0, #ffcacb 100%);
  background-image: -o-linear-gradient(top, #ffd6d7 0, #ffcacb 100%);
  background-image: linear-gradient(to bottom, #ffd6d7 0%, #ffcacb 100%);
}
/* line 98, ../../sass/ui/button.scss */
.btn-primary-light:active {
  background-image: -moz-linear-gradient(top, #ffcacb 0, #ffd6d7 100%);
  background-image: -webkit-linear-gradient(top, #ffcacb 0, #ffd6d7 100%);
  background-image: -o-linear-gradient(top, #ffcacb 0, #ffd6d7 100%);
  background-image: linear-gradient(to bottom, #ffcacb 0%, #ffd6d7 100%);
}

/* line 83, ../../sass/ui/button.scss */
.btn-sub {
  color: #785206;
  background-color: #f9bc13;
  border: 1px solid #f2b10c;
  background-image: -moz-linear-gradient(top, #ffc619 0, #f2b10c 100%);
  background-image: -webkit-linear-gradient(top, #ffc619 0, #f2b10c 100%);
  background-image: -o-linear-gradient(top, #ffc619 0, #f2b10c 100%);
  background-image: linear-gradient(to bottom, #ffc619 0%, #f2b10c 100%);
}
/* line 87, ../../sass/ui/button.scss */
.btn-sub:link, .btn-sub:visited, .btn-sub:hover {
  color: #785206;
}
/* line 90, ../../sass/ui/button.scss */
.btn-sub:hover {
  background-color: #f6b706;
}
/* line 95, ../../sass/ui/button.scss */
.btn-sub:hover {
  background-image: -moz-linear-gradient(top, #ffc20a 0, #e3a60b 100%);
  background-image: -webkit-linear-gradient(top, #ffc20a 0, #e3a60b 100%);
  background-image: -o-linear-gradient(top, #ffc20a 0, #e3a60b 100%);
  background-image: linear-gradient(to bottom, #ffc20a 0%, #e3a60b 100%);
}
/* line 98, ../../sass/ui/button.scss */
.btn-sub:active {
  background-image: -moz-linear-gradient(top, #e3a60b 0, #ffc20a 100%);
  background-image: -webkit-linear-gradient(top, #e3a60b 0, #ffc20a 100%);
  background-image: -o-linear-gradient(top, #e3a60b 0, #ffc20a 100%);
  background-image: linear-gradient(to bottom, #e3a60b 0%, #ffc20a 100%);
}

/* line 83, ../../sass/ui/button.scss */
.btn-sub-light {
  color: #997300;
  background-color: #fff6da;
  border: 1px solid #f2d785;
  background-image: -moz-linear-gradient(top, #fff9e5 0, #fff2cc 100%);
  background-image: -webkit-linear-gradient(top, #fff9e5 0, #fff2cc 100%);
  background-image: -o-linear-gradient(top, #fff9e5 0, #fff2cc 100%);
  background-image: linear-gradient(to bottom, #fff9e5 0%, #fff2cc 100%);
}
/* line 87, ../../sass/ui/button.scss */
.btn-sub-light:link, .btn-sub-light:visited, .btn-sub-light:hover {
  color: #997300;
}
/* line 90, ../../sass/ui/button.scss */
.btn-sub-light:hover {
  background-color: #fff2cb;
}
/* line 95, ../../sass/ui/button.scss */
.btn-sub-light:hover {
  background-image: -moz-linear-gradient(top, #fff5d6 0, #ffeebd 100%);
  background-image: -webkit-linear-gradient(top, #fff5d6 0, #ffeebd 100%);
  background-image: -o-linear-gradient(top, #fff5d6 0, #ffeebd 100%);
  background-image: linear-gradient(to bottom, #fff5d6 0%, #ffeebd 100%);
}
/* line 98, ../../sass/ui/button.scss */
.btn-sub-light:active {
  background-image: -moz-linear-gradient(top, #ffeebd 0, #fff5d6 100%);
  background-image: -webkit-linear-gradient(top, #ffeebd 0, #fff5d6 100%);
  background-image: -o-linear-gradient(top, #ffeebd 0, #fff5d6 100%);
  background-image: linear-gradient(to bottom, #ffeebd 0%, #fff5d6 100%);
}

/* line 83, ../../sass/ui/button.scss */
.btn-info {
  color: white;
  background-color: #3e9ee7;
  border: 1px solid #4197d9;
  background-image: -moz-linear-gradient(top, #3da4f2 0, #4197d9 100%);
  background-image: -webkit-linear-gradient(top, #3da4f2 0, #4197d9 100%);
  background-image: -o-linear-gradient(top, #3da4f2 0, #4197d9 100%);
  background-image: linear-gradient(to bottom, #3da4f2 0%, #4197d9 100%);
}
/* line 87, ../../sass/ui/button.scss */
.btn-info:link, .btn-info:visited, .btn-info:hover {
  color: white;
}
/* line 90, ../../sass/ui/button.scss */
.btn-info:hover {
  background-color: #3097e5;
}
/* line 95, ../../sass/ui/button.scss */
.btn-info:hover {
  background-image: -moz-linear-gradient(top, #2f9df1 0, #3490d6 100%);
  background-image: -webkit-linear-gradient(top, #2f9df1 0, #3490d6 100%);
  background-image: -o-linear-gradient(top, #2f9df1 0, #3490d6 100%);
  background-image: linear-gradient(to bottom, #2f9df1 0%, #3490d6 100%);
}
/* line 98, ../../sass/ui/button.scss */
.btn-info:active {
  background-image: -moz-linear-gradient(top, #3490d6 0, #2f9df1 100%);
  background-image: -webkit-linear-gradient(top, #3490d6 0, #2f9df1 100%);
  background-image: -o-linear-gradient(top, #3490d6 0, #2f9df1 100%);
  background-image: linear-gradient(to bottom, #3490d6 0%, #2f9df1 100%);
}

/* line 83, ../../sass/ui/button.scss */
.btn-info-light {
  color: #3692d9;
  background-color: #e2f2ff;
  border: 1px solid #a6d8ff;
  background-image: -moz-linear-gradient(top, #ebf6ff 0, #d9eeff 100%);
  background-image: -webkit-linear-gradient(top, #ebf6ff 0, #d9eeff 100%);
  background-image: -o-linear-gradient(top, #ebf6ff 0, #d9eeff 100%);
  background-image: linear-gradient(to bottom, #ebf6ff 0%, #d9eeff 100%);
}
/* line 87, ../../sass/ui/button.scss */
.btn-info-light:link, .btn-info-light:visited, .btn-info-light:hover {
  color: #3692d9;
}
/* line 90, ../../sass/ui/button.scss */
.btn-info-light:hover {
  background-color: #d3ebff;
}
/* line 95, ../../sass/ui/button.scss */
.btn-info-light:hover {
  background-image: -moz-linear-gradient(top, #dcefff 0, #cae7ff 100%);
  background-image: -webkit-linear-gradient(top, #dcefff 0, #cae7ff 100%);
  background-image: -o-linear-gradient(top, #dcefff 0, #cae7ff 100%);
  background-image: linear-gradient(to bottom, #dcefff 0%, #cae7ff 100%);
}
/* line 98, ../../sass/ui/button.scss */
.btn-info-light:active {
  background-image: -moz-linear-gradient(top, #cae7ff 0, #dcefff 100%);
  background-image: -webkit-linear-gradient(top, #cae7ff 0, #dcefff 100%);
  background-image: -o-linear-gradient(top, #cae7ff 0, #dcefff 100%);
  background-image: linear-gradient(to bottom, #cae7ff 0%, #dcefff 100%);
}

/* line 114, ../../sass/ui/button.scss */
.btn-s {
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  font-size: 12px;
}

/* line 127, ../../sass/ui/button.scss */
button.btn-s,
input.btn-s {
  height: 22px;
  _line-height: 17px;
}

/* line 114, ../../sass/ui/button.scss */
.btn-m {
  height: 24px;
  line-height: 24px;
  padding: 0 15px;
  font-size: 12px;
}

/* line 127, ../../sass/ui/button.scss */
button.btn-m,
input.btn-m {
  height: 26px;
  _height: 21px;
  *line-height: 21px;
}

/* line 114, ../../sass/ui/button.scss */
.btn-l {
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  font-size: 14px;
  font-family: arial, "Microsoft Yahei", sans-serif;
  *font-weight: bold;
}

/* line 127, ../../sass/ui/button.scss */
button.btn-l,
input.btn-l {
  height: 32px;
  _height: 27px;
  *line-height: 27px;
}

/* line 114, ../../sass/ui/button.scss */
.btn-xl {
  height: 34px;
  line-height: 34px;
  padding: 0 25px;
  font-size: 14px;
  font-family: arial, "Microsoft Yahei", sans-serif;
  *font-weight: bold;
}

/* line 127, ../../sass/ui/button.scss */
button.btn-xl,
input.btn-xl {
  height: 36px;
  _height: 31px;
  *line-height: 31px;
}

/* line 114, ../../sass/ui/button.scss */
.btn-xxl {
  height: 38px;
  line-height: 38px;
  padding: 0 30px;
  font-size: 16px;
  font-family: arial, "Microsoft Yahei", sans-serif;
  *font-weight: bold;
}

/* line 127, ../../sass/ui/button.scss */
button.btn-xxl,
input.btn-xxl {
  height: 40px;
  _height: 35px;
  *line-height: 35px;
}

/* line 145, ../../sass/ui/button.scss */
.btn-icon {
  position: relative;
  padding-left: 35px;
}
/* line 148, ../../sass/ui/button.scss */
.btn-icon .icon {
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -8px;
  _display: block;
  _top: 4px;
}

/* line 162, ../../sass/ui/button.scss */
.btn-group {
  overflow: hidden;
  *zoom: 1;
}
/* line 165, ../../sass/ui/button.scss */
.btn-group .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  float: left;
  margin-left: -1px;
}
/* line 170, ../../sass/ui/button.scss */
.btn-group .first {
  -webkit-border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-left: 0;
}
/* line 175, ../../sass/ui/button.scss */
.btn-group .last {
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 179, ../../sass/ui/button.scss */
.btn-group .active {
  background: #fff;
}

/* line 186, ../../sass/ui/button.scss */
.btn-disabled,
.btn-disabled:hover {
  background-image: none;
  background-color: #eee;
  border: 1px solid #d9d9d9;
  color: #999999;
  cursor: not-allowed;
}

/* line 193, ../../sass/ui/button.scss */
a.btn-disabled {
  color: #999999;
}
