.fcon {
  display: inline-block;
  font-family: IconFont;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

@font-face {
  font-family: 'IconFont';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fcon {
  vertical-align: middle;
}

.fcon-2x {
  font-size: 24px;
}

.fcon-rotate:hover {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fcon-search:before {
  content: "\f002";
}

.fcon-th:before {
  content: "\f00a";
}

.fcon-home:before {
  content: "\f015";
}

.fcon-list:before {
  content: "\f03a";
}

.fcon-angle-double-right:before {
  content: "\f101";
}

.fcon-angle-down:before {
  content: "\f107";
}

.fcon-angle-right:before {
  content: "\f105";
}

.fcon-angle-left:before {
  content: "\f104";
}

.fcon-caret-down:before {
  content: "\f0d7";
}

.fcon-times-circle:before {
  content: "\f057";
}

.fcon-cog:before {
  content: "\f013";
}

.fcon-arrow-circle-up:before {
  content: "\f0aa";
}

.fcon-arrow-circle-o-up:before {
  content: "\f01b";
}

.fcon-arrow-left:before {
  content: "\f060";
}

.fcon-map-marker:before {
  content: "\f041";
}

.fcon-th-list:before {
  content: "\f00b";
}

.fcon-bars:before {
  content: "\f0c9";
}

.fcon-arrow-up:before {
  content: "\f062";
}

.fcon-th-large:before {
  content: "\f009";
}

.fcon-jpy:before {
  content: "\f157";
}

.fcon-heart:before {
  content: "\f004";
}

.fcon-chevron-down:before {
  content: "\f078";
}

.fcon-times:before {
  content: "\f00d";
}

.fcon-check:before {
  content: "\f00c";
}

.fcon-food:before {
  content: "\e614";
}

.fcon-apparel:before {
  content: "\e61f";
}

.fcon-menu-more:before {
  content: "\e600";
}

.fcon-mode-text:before {
  content: "\e601";
}

.fcon-mode-big-picture:before {
  content: "\e602";
}

.fcon-original:before {
  content: "\e604";
}

.fcon-home-goods:before {
  content: "\e605";
}

.fcon-goods:before {
  content: "\e606";
}

.fcon-elec-component:before {
  content: "\e622";
}

.fcon-transport:before {
  content: "\e603";
}

.fcon-toys:before {
  content: "\e607";
}

.fcon-tools:before {
  content: "\e608";
}

.fcon-textile:before {
  content: "\e609";
}

.fcon-sporting:before {
  content: "\e60a";
}

.fcon-daily-use:before {
  content: "\e60c";
}

.fcon-office:before {
  content: "\e60d";
}

.fcon-manufacture:before {
  content: "\e60e";
}

.fcon-lights:before {
  content: "\e60f";
}

.fcon-instruments:before {
  content: "\e610";
}

.fcon-industry:before {
  content: "\e611";
}

.fcon-health:before {
  content: "\e612";
}

.fcon-furniture:before {
  content: "\e613";
}

.fcon-energy:before {
  content: "\e615";
}

.fcon-electrical:before {
  content: "\e616";
}

.fcon-edit:before {
  content: "\e617";
}

.fcon-decoration:before {
  content: "\e618";
}

.fcon-consumer-electric:before {
  content: "\e619";
}

.fcon-computer:before {
  content: "\e61a";
}

.fcon-chemicals:before {
  content: "\e61b";
}

.fcon-bags:before {
  content: "\e61c";
}

.fcon-auto:before {
  content: "\e61d";
}

.fcon-arts:before {
  content: "\e61e";
}

.fcon-mode-text-picture:before {
  content: "\e623";
}

.fcon-print:before {
  content: "\f02f";
}

.fcon-safe:before {
  content: "\e621";
}
