.icon, .icon-2x, .icon-3x {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  font-size: 0;
}

.icon {
  width: 16px;
  height: 16px;
  background: url("../../img/global/icon.png") no-repeat;
}

.icon-2x {
  width: 32px;
  height: 32px;
  background: url("../../img/global/icon-2x.png") no-repeat;
}

.icon-3x {
  width: 48px;
  height: 48px;
  background: url("../../img/global/icon-3x.png") no-repeat;
}

.icon-info {
  background-position: -16px 0;
}

.icon-error {
  background-position: -32px 0;
}

.icon-warn {
  background-position: -48px 0;
}

.icon-close {
  background-position: 0 -16px;
  cursor: pointer;
}

.icon-close:hover {
  background-position: -16px -16px;
}

.icon-2x-succ {
  background-position: -32px 0;
}

.icon-2x-info {
  background-position: -64px 0;
}

.icon-2x-warn {
  background-position: -64px -32px;
}

.icon-2x-error {
  background-position: 0 0;
}

.icon-3x-warn {
  background-position: 0 0;
}

.icon-3x-succ {
  background-position: -48px 0;
}

.icon-3x-info {
  background-position: -96px 0;
}

.icon-3x-error {
  background-position: 0 -48px;
}
