/* line 37, ../../sass/ui/tip.scss */
.tip {
  padding: 7px 10px 7px 31px;
  overflow: hidden;
  *zoom: 1;
}
/* line 41, ../../sass/ui/tip.scss */
.tip .icon {
  float: left;
  margin: 1px 0 0 -21px;
}

/* line 46, ../../sass/ui/tip.scss */
.tip-close {
  float: right;
  font: bold 12px/14px tahoma, arial, sans-serif;
  cursor: pointer;
}

/* line 51, ../../sass/ui/tip.scss */
.tip-sub-hd {
  margin-bottom: 6px;
}

/* line 54, ../../sass/ui/tip.scss */
.tip-ope {
  margin: 10px 0 15px;
}

/* line 57, ../../sass/ui/tip.scss */
.tip-lnk-lst {
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../sass/ui/tip.scss */
.tip-lnk-lst li {
  float: left;
}
/* line 63, ../../sass/ui/tip.scss */
.tip-lnk-lst .v-sep {
  margin: 0 10px;
}

/* line 69, ../../sass/ui/tip.scss */
.tip-multi {
  padding: 9px 10px 15px 10px;
}

/* line 74, ../../sass/ui/tip.scss */
.tip-hd {
  font: bold 18px/20px arial, "Microsoft Yahei", sans-serif;
  margin-bottom: 7px;
  overflow: hidden;
  *zoom: 1;
}

/* line 82, ../../sass/ui/tip.scss */
.tip-bd {
  overflow: hidden;
  *zoom: 1;
}
/* line 85, ../../sass/ui/tip.scss */
.tip-bd ul, .tip-bd ol {
  margin-bottom: 6px;
}
/* line 88, ../../sass/ui/tip.scss */
.tip-bd p, .tip-bd li {
  padding: 3px 0;
}

/* line 94, ../../sass/ui/tip.scss */
.tip-pop {
  position: absolute;
}
/* line 96, ../../sass/ui/tip.scss */
.tip-pop i {
  position: absolute;
  _left: 30px;
}
/* line 100, ../../sass/ui/tip.scss */
.tip-pop p {
  _float: left;
}

/* tip state style */
/* line 113, ../../sass/ui/tip.scss */
.tip-succ {
  background-color: #ebf9df;
  border: 1px solid #bed7a8;
  color: #58991f;
}

/* line 113, ../../sass/ui/tip.scss */
.tip-error {
  background-color: #faedee;
  border: 1px solid #fad2cd;
  color: #cc220b;
}

/* line 113, ../../sass/ui/tip.scss */
.tip-warn {
  background-color: #fcf5e3;
  border: 1px solid #e8d4a8;
  color: #c59120;
}

/* line 113, ../../sass/ui/tip.scss */
.tip-info {
  background-color: #edf4fa;
  border: 1px solid #c7dbeb;
  color: #1c75bb;
}

/* tip size style */
/* line 137, ../../sass/ui/tip.scss */
.tip-nor {
  padding: 15px 20px 15px 62px;
  color: #333333;
  border: none;
  overflow: hidden;
  *zoom: 1;
}
/* line 143, ../../sass/ui/tip.scss */
.tip-nor .icon-nor {
  float: left;
  margin-left: -42px;
}
/* line 148, ../../sass/ui/tip.scss */
.tip-nor .tip-hd {
  padding: 5px 0 0;
  font-size: 14px;
}

/* line 137, ../../sass/ui/tip.scss */
.tip-big {
  padding: 15px 40px 15px 88px;
  color: #333333;
  border: none;
  overflow: hidden;
  *zoom: 1;
}
/* line 143, ../../sass/ui/tip.scss */
.tip-big .icon-big {
  float: left;
  margin-left: -58px;
}
/* line 154, ../../sass/ui/tip.scss */
.tip-big .tip-hd {
  padding: 12px 0;
}

/************************* poptip style *************************/
/* line 164, ../../sass/ui/tip.scss */
.poptip {
  padding: 5px 20px 5px 10px;
  font-size: 12px;
  background: #fff;
  border: 1px solid #d9d9d9;
  position: absolute;
}
/* line 170, ../../sass/ui/tip.scss */
.poptip .poptip-close {
  color: #999;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
/* line 176, ../../sass/ui/tip.scss */
.poptip .poptip-close:hover {
  color: #666;
}

/* poptip arrow style */
/* line 182, ../../sass/ui/tip.scss */
.poptip .arrow {
  width: 0px;
  height: 0px;
  line-height: 0;
  font-size: 0;
  border: 8px dashed transparent;
  position: absolute;
  zoom: 1;
}
/* line 201, ../../sass/ui/tip.scss */
.poptip .arrow-top {
  border-bottom: 8px solid transparent;
  top: -16px;
  left: 20px;
}
/* line 206, ../../sass/ui/tip.scss */
.poptip .arrow-top .arrow-in {
  border-bottom: 8px solid transparent;
}
/* line 227, ../../sass/ui/tip.scss */
.poptip .arrow-top .arrow-in {
  margin-top: -7px;
  margin-left: -8px;
}
/* line 201, ../../sass/ui/tip.scss */
.poptip .arrow-right {
  border-left: 8px solid transparent;
  top: 20px;
  right: -16px;
  _right: -17px;
}
/* line 212, ../../sass/ui/tip.scss */
.poptip .arrow-right .arrow-in {
  border-left: 8px solid transparent;
}
/* line 227, ../../sass/ui/tip.scss */
.poptip .arrow-right .arrow-in {
  margin-top: -8px;
  margin-left: -9px;
}
/* line 201, ../../sass/ui/tip.scss */
.poptip .arrow-bottom {
  border-top: 8px solid transparent;
  bottom: -16px;
  left: 20px;
}
/* line 219, ../../sass/ui/tip.scss */
.poptip .arrow-bottom .arrow-in {
  border-top: 8px solid transparent;
}
/* line 227, ../../sass/ui/tip.scss */
.poptip .arrow-bottom .arrow-in {
  margin-top: -9px;
  margin-left: -8px;
}
/* line 201, ../../sass/ui/tip.scss */
.poptip .arrow-left {
  border-right: 8px solid transparent;
  top: 20px;
  left: -16px;
}
/* line 225, ../../sass/ui/tip.scss */
.poptip .arrow-left .arrow-in {
  border-left: 8px solid transparent;
}
/* line 227, ../../sass/ui/tip.scss */
.poptip .arrow-left .arrow-in {
  margin-top: -8px;
  margin-left: -7px;
}

/* poptip state style */
/* line 243, ../../sass/ui/tip.scss */
.poptip-info {
  border: 1px solid #c7dbeb;
  background-color: #edf4fa;
}
/* line 251, ../../sass/ui/tip.scss */
.poptip-info .arrow-top {
  border-bottom-color: #c7dbeb;
}
/* line 254, ../../sass/ui/tip.scss */
.poptip-info .arrow-top .arrow-in {
  border-bottom-color: #edf4fa;
}
/* line 251, ../../sass/ui/tip.scss */
.poptip-info .arrow-right {
  border-left-color: #c7dbeb;
}
/* line 258, ../../sass/ui/tip.scss */
.poptip-info .arrow-right .arrow-in {
  border-left-color: #edf4fa;
}
/* line 251, ../../sass/ui/tip.scss */
.poptip-info .arrow-bottom {
  border-top-color: #c7dbeb;
}
/* line 262, ../../sass/ui/tip.scss */
.poptip-info .arrow-bottom .arrow-in {
  border-top-color: #edf4fa;
}
/* line 251, ../../sass/ui/tip.scss */
.poptip-info .arrow-left {
  border-right-color: #c7dbeb;
}
/* line 266, ../../sass/ui/tip.scss */
.poptip-info .arrow-left .arrow-in {
  border-right-color: #edf4fa;
}

/* line 243, ../../sass/ui/tip.scss */
.poptip-succ {
  border: 1px solid #bed7a8;
  background-color: #ebf9df;
}
/* line 251, ../../sass/ui/tip.scss */
.poptip-succ .arrow-top {
  border-bottom-color: #bed7a8;
}
/* line 254, ../../sass/ui/tip.scss */
.poptip-succ .arrow-top .arrow-in {
  border-bottom-color: #ebf9df;
}
/* line 251, ../../sass/ui/tip.scss */
.poptip-succ .arrow-right {
  border-left-color: #bed7a8;
}
/* line 258, ../../sass/ui/tip.scss */
.poptip-succ .arrow-right .arrow-in {
  border-left-color: #ebf9df;
}
/* line 251, ../../sass/ui/tip.scss */
.poptip-succ .arrow-bottom {
  border-top-color: #bed7a8;
}
/* line 262, ../../sass/ui/tip.scss */
.poptip-succ .arrow-bottom .arrow-in {
  border-top-color: #ebf9df;
}
/* line 251, ../../sass/ui/tip.scss */
.poptip-succ .arrow-left {
  border-right-color: #bed7a8;
}
/* line 266, ../../sass/ui/tip.scss */
.poptip-succ .arrow-left .arrow-in {
  border-right-color: #ebf9df;
}

/* line 243, ../../sass/ui/tip.scss */
.poptip-error {
  border: 1px solid #fad2cd;
  background-color: #faedee;
}
/* line 251, ../../sass/ui/tip.scss */
.poptip-error .arrow-top {
  border-bottom-color: #fad2cd;
}
/* line 254, ../../sass/ui/tip.scss */
.poptip-error .arrow-top .arrow-in {
  border-bottom-color: #faedee;
}
/* line 251, ../../sass/ui/tip.scss */
.poptip-error .arrow-right {
  border-left-color: #fad2cd;
}
/* line 258, ../../sass/ui/tip.scss */
.poptip-error .arrow-right .arrow-in {
  border-left-color: #faedee;
}
/* line 251, ../../sass/ui/tip.scss */
.poptip-error .arrow-bottom {
  border-top-color: #fad2cd;
}
/* line 262, ../../sass/ui/tip.scss */
.poptip-error .arrow-bottom .arrow-in {
  border-top-color: #faedee;
}
/* line 251, ../../sass/ui/tip.scss */
.poptip-error .arrow-left {
  border-right-color: #fad2cd;
}
/* line 266, ../../sass/ui/tip.scss */
.poptip-error .arrow-left .arrow-in {
  border-right-color: #faedee;
}

/* line 243, ../../sass/ui/tip.scss */
.poptip-warn {
  border: 1px solid #e8d4a8;
  background-color: #fcf5e3;
}
/* line 251, ../../sass/ui/tip.scss */
.poptip-warn .arrow-top {
  border-bottom-color: #e8d4a8;
}
/* line 254, ../../sass/ui/tip.scss */
.poptip-warn .arrow-top .arrow-in {
  border-bottom-color: #fcf5e3;
}
/* line 251, ../../sass/ui/tip.scss */
.poptip-warn .arrow-right {
  border-left-color: #e8d4a8;
}
/* line 258, ../../sass/ui/tip.scss */
.poptip-warn .arrow-right .arrow-in {
  border-left-color: #fcf5e3;
}
/* line 251, ../../sass/ui/tip.scss */
.poptip-warn .arrow-bottom {
  border-top-color: #e8d4a8;
}
/* line 262, ../../sass/ui/tip.scss */
.poptip-warn .arrow-bottom .arrow-in {
  border-top-color: #fcf5e3;
}
/* line 251, ../../sass/ui/tip.scss */
.poptip-warn .arrow-left {
  border-right-color: #e8d4a8;
}
/* line 266, ../../sass/ui/tip.scss */
.poptip-warn .arrow-left .arrow-in {
  border-right-color: #fcf5e3;
}
