/* line 27, ../../sass/ui/tip.scss */
.tip-succ {
  background-color: #ebf9df;
  border: 1px solid #bed7a8;
  color: #58991f;
}

/* line 27, ../../sass/ui/tip.scss */
.tip-error {
  background-color: #faedee;
  border: 1px solid #fad2cd;
  color: #cc220b;
}

/* line 27, ../../sass/ui/tip.scss */
.tip-warn {
  background-color: #fcf5e3;
  border: 1px solid #e8d4a8;
  color: #c59120;
}

/* line 27, ../../sass/ui/tip.scss */
.tip-info {
  background-color: #edf4fa;
  border: 1px solid #c7dbeb;
  color: #1c75bb;
}

/* line 38, ../../sass/ui/tip.scss */
.tip {
  padding: 7px 10px 7px 31px;
  overflow: hidden;
  *zoom: 1;
}
/* line 42, ../../sass/ui/tip.scss */
.tip .icon {
  float: left;
  margin: 2px 0 0 -21px;
}

/* line 49, ../../sass/ui/tip.scss */
.tip-m,
.tip-l {
  border: none;
  color: #4d4d4d;
}

/* line 55, ../../sass/ui/tip.scss */
.tip-m {
  padding: 20px 20px 25px 62px;
}
/* line 57, ../../sass/ui/tip.scss */
.tip-m .icon-2x {
  float: left;
  margin-left: -42px;
}
/* line 61, ../../sass/ui/tip.scss */
.tip-m .tip-hd {
  padding: 5px 0 0;
  font-size: 14px;
}

/* line 68, ../../sass/ui/tip.scss */
.tip-l {
  padding: 20px 40px 35px 88px;
}
/* line 70, ../../sass/ui/tip.scss */
.tip-l .icon-3x {
  float: left;
  margin-left: -58px;
}
/* line 74, ../../sass/ui/tip.scss */
.tip-l .tip-hd {
  padding: 12px 0;
  font-size: 18px;
}

/* line 81, ../../sass/ui/tip.scss */
.tip-close {
  float: right;
  font: bold 12px/14px tahoma, arial, sans-serif;
  cursor: pointer;
}

/* line 88, ../../sass/ui/tip.scss */
.tip-hd {
  font-family: arial, "Microsoft Yahei", sans-serif;
  font-weight: bold;
  margin-bottom: 7px;
}

/* line 96, ../../sass/ui/tip.scss */
.tip-bd p, .tip-bd .text-lst {
  margin-bottom: 10px;
}

/* line 100, ../../sass/ui/tip.scss */
.tip-sub-hd {
  font-size: 14px;
  margin-bottom: 6px;
}

/* line 105, ../../sass/ui/tip.scss */
.tip-links .v-sep {
  margin: 0 10px;
}

/* line 109, ../../sass/ui/tip.scss */
.tip-ope {
  margin: 10px 0 15px;
}

/* line 112, ../../sass/ui/tip.scss */
.tip-lnk-lst {
  overflow: hidden;
  *zoom: 1;
}
/* line 115, ../../sass/ui/tip.scss */
.tip-lnk-lst li {
  float: left;
}
/* line 118, ../../sass/ui/tip.scss */
.tip-lnk-lst .v-sep {
  margin: 0 10px;
}
